{% extends 'base.html' %}
<head> 
    {% load static %}
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock %}
</head>

{% block content %}

<body>
    <div class="login">
        <h3 class="title-login">LOGIN</h3>
        <br><br><br>
        <div class="login-box">
            <form action="" method="post">
                
                {% csrf_token %}
                <p>
                    {% if messages %}
                        {% for message in messages %}
                            {{ message.message }}
                        {% endfor %}
                    {% endif %}
                </p>
                <p>ID</p> <br> <input name="username" type="text">
                <br><br><br>
                <p>PASSWORD</p> <br> <input name="password" type="password">
                <br><br><br>
                <a class="find" href="">아이디 / 비밀번호 찾기</a>
                <!-- maxlength='5' 비밀 번호 최대길이 추후에 추가 -->
                <br><br><br>
                <button id="login_btn" type="submit">Login</button>
                <!--<a href="{% url 'register' %}">회원가입</a> -->
                <button id="kakao-login" formaction="{% url 'kakaoLoginLogic' %}" >카카오회원가입</button>
            </form> 
        </div>
    </div>
</body>
{% endblock %}


{% block last %}
<script>
    let open_btn = document.querySelector("#btn-modal");
    open_btn.style.display="none";
</script>
{% endblock %}
