{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHECKMATE</title>   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.JPG' %}" type="image/x-icon">
    <!-- 모달 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->
    <style>
        .dropdown-item{
            color: rgb(129, 129, 129);
        }
        .dropdown-item:hover{
            color: rgb(129, 129, 129);
        }
        .dropdown-item:active{
            color:white;
        }

    </style>
    {% block head %}
    {% endblock %}
</head>

<body style="min-width: 300px" class="ms-2 ms-md-0">
    <!-- 네비바 -->
    <div class="row">
        <nav class="navbar navbar-expand-md p-4 p-md-5">
            <div class="container-fluid">
                <div class="main-check">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="20" height="20" rx="1" stroke="url(#paint0_linear)" stroke-width="2" />
                        <rect x="11" y="11" width="11" height="11" fill="url(#paint1_linear)" />
                        <rect width="11" height="11" fill="url(#paint2_linear)" />
                        <defs>
                            <linearGradient id="paint0_linear" x1="0" y1="0" x2="22" y2="22" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#918EFF" />
                                <stop offset="1" stop-color="#3F97FF" />
                            </linearGradient>
                            <linearGradient id="paint1_linear" x1="-6.55651e-07" y1="6.55651e-07" x2="22" y2="22"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#918EFF" />
                                <stop offset="1" stop-color="#3F97FF" />
                            </linearGradient>
                            <linearGradient id="paint2_linear" x1="0" y1="0" x2="22" y2="21.45" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#918EFF" />
                                <stop offset="1" stop-color="#3F97FF" />
                            </linearGradient>
                        </defs>
                    </svg>
                    <a class="" href="{% url 'main' %}">CHECKMATE</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggle r-icon"><i class="fas fa-bars" style="color: rgba(93, 148, 255, 1);"></i></span>
                </button>
                <div class="collapse navbar-collapse float-end" id="navbarTogglerDemo03" style="flex-grow:unset;">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'searchRoommate' %}" style="color: rgba(93, 148, 255, 1);">룸메찾기</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="{% url 'domitoryCommunity' %}" style="color: rgba(93, 148, 255, 1);">정보공유</a>
                        <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'domitoryCommunity' %}" >기숙사 정보</a></li>
                            <li><a class="dropdown-item" href="{% url 'offcampusCommunity' %}" >자취 정보</a></li>
                        </ul>
                        </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'mypageProfile' %}" style="color: rgb(129, 129, 129);">내정보</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'logout' %}" style="color: rgb(129, 129, 129);">로그아웃</a>
                    </li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}" style="color: rgb(129, 129, 129);">로그인</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        {% block content %}

        {% endblock %}
        <div class="modal_location">
            <img class="open" id="btn-modal" src="{% static 'img/chat_icon.png' %}" alt="">
            <div id="modal" class="modal-overlay">
                <div class="modal-window">
                    <div class="title">
                        <h2>진행중인 대화</h2>
                    </div>
                    <div class="close-area">X</div>
                    <div class="content">
                        <p>대화 목록을 만들어주세요.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div>
            <p class="font-bold">문의처</p>
            <p>경상대학교 멋쟁이사자처럼</p>
        </div>
        <div>
            <p class="tel">TEL | None</p>
            <p class="mail">MAIL | likelionGnu@likelion.org</p>
            <p class="insta">INSTAGRAM | likelion_gnu</p>
        </div>
    </footer>
    <script src="{% static 'js/modal.js' %}"></script>
</body>
{% block last %}
{% endblock %}

</html>
