{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHECKMATE</title>
</head>
<body>
    <!-- 네비바 -->
    <div class="main-check">
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="1" width="20" height="20" rx="1" stroke="url(#paint0_linear)" stroke-width="2"/>
            <rect x="11" y="11" width="11" height="11" fill="url(#paint1_linear)"/>
            <rect width="11" height="11" fill="url(#paint2_linear)"/>
            <defs>
            <linearGradient id="paint0_linear" x1="0" y1="0" x2="22" y2="22" gradientUnits="userSpaceOnUse">
            <stop stop-color="#918EFF"/>
            <stop offset="1" stop-color="#3F97FF"/>
            </linearGradient>
            <linearGradient id="paint1_linear" x1="-6.55651e-07" y1="6.55651e-07" x2="22" y2="22" gradientUnits="userSpaceOnUse">
            <stop stop-color="#918EFF"/>
            <stop offset="1" stop-color="#3F97FF"/>
            </linearGradient>
            <linearGradient id="paint2_linear" x1="0" y1="0" x2="22" y2="21.45" gradientUnits="userSpaceOnUse">
            <stop stop-color="#918EFF"/>
            <stop offset="1" stop-color="#3F97FF"/>
            </linearGradient>
            </defs>
            </svg>            
        <a href="">checkmate</a>
        <!-- 나중에 삭제하겠습니다. -->
        <a href="{% url 'survey' %}">내정보 입력-임시</a>
    </div>
    <nav>
        <div class="right-menu">
            <a href="">룸메 찾기</a>
            <a href="">정보 공유</a>
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">로그아웃</a>
            <a href="{% url 'change_password' %}">내정보</a>
            {% endif %}
            {% if not user.is_authenticated %}
            <a href="{% url 'login' %}">로그인</a>
            {% endif %}
        <div>
    </nav>
    
    {% block content %}
        
    {% endblock %}

    <footer>
        <div>
            <p class="font-bold">문의처</p>
            <p>경상대학교 멋쟁이사자처럼</p>
        </div>
        <p class="tel">TEL | 055-1234-5678</p>
        <p class="mail">MAIL | likelionGnu@likelion.org</p>
        <p class="insta"></p>
    </footer>
</body>
</html>
        