{% extends 'base.html' %}

{% block content %}
<h3>정보 공유 게시판</h3>
<div>  
    <a href="">인기 게시글</a>
    <div>
        <h5>검색</h5>
        <form action="" method="get">
            {% csrf_token %}
            <input type="text" placeholder="#역세권_오피스텔_어때요?">
            <button type="submit">검색아이콘</button>
        </form>
        <button>+</button>
    </div>
</div>
<div>
    <div>
        <p>원룸정보</p>
        <p>자취 | 보금자리빌</p>
        <p>원룸 리뷰입니다.</p>
    </div>
        
</div>
<div>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">◀</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">▶</a></li>
    </ul>
</div>
<button class="open" id="jsBtn">채팅열기</button>
<div class="modal hidden" id="jsModal">
    <button class="modal__closeBtn" id="jsCloseBtn">X</button>
</div>


<script>
    const open = document.querySelector(".open");
    const close = document.querySelector(".modal__closeBtn");
    const modal = document.querySelector(".modal");

    function init(){
        open.addEventListener("click",function(){
            modal.classList.remove("hidden");
        });
        close.addEventListener("click",function(){
            modal.classList.add("hidden");
        });
    }

    init();
</script>
{% endblock %}