{% extends 'base.html' %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/community.css' %}">
{% endblock %}
{% block content %}
<div class="com_container col-md-12 offset-md-0 col-lg-10 offset-lg-1 col-xxl-8 offset-xxl-2">
    <h3 class="row justify-content-center">기숙사 정보 공유 게시판</h3>
      <a id="com_t" class="col-3 offset-8 col-md-2 offset-md-10" href="{% url 'domitory_popular' %}">인기 게시글</a>
    <div class="search_bar">
        <h2 class="d-none d-md-block">검색</h2>
        <form action="" class="" method="get">
            {% csrf_token %}
            <div class="search-input-box">
                <input  type="text" class="search-input" name="search_keyword" value="{{ search_keyword }}" placeholder="검색어를 입력해주세요">
                <button id="search_btn" type="submit"><i class="fal fa-search"></i></button>
            </div>
        </form>
        <div>
            {% if user_id %}
            <button id="plus_btn" onclick='location.href="{% url 'dom_infoWrite' %}"'><i class="fal fa-plus"></i></button>
            {% else %}
            <button id="plus_btn" onclick="alert('글쓰기는 로그인 후에 가능합니다.')"><i class="fal fa-plus"></i></button>
            {% endif %}
        </div>
    </div>


    <div>
        <table class="table table-responsive table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">상태</th>
                    <th scope="col">분류</th>
                    <th scope="col">제목</th>
                </tr>
            </thead>
            <tbody>
                {% if search_keyword %}
                <h5> &nbsp; '{{ search_keyword }}' 검색 결과입니다</h5>
                {% endif %}
                {% if posts %}
                {% for post in posts %}     
                <tr class="com_content" onclick="location.href='{% url 'domitoryView' post.id %}'">
                    {% if post.preface_2 == '정문' or post.preface == '후문' or post.preface == '남문' or post.preface == '호탄' or post.preface == '기타' %}
                    <td  scope="row" class="preface" id="com_content-info">원룸정보</td>
                    <td id="com_content-title">{{ post.preface_2 }}</td>
                    <td id="com_content-body">{{ post.title }}</td>
                    {% else %}
                    <td class="preface btn mt-1 p-1" id="com_content-info" disabled>{{ post.preface }}</td>
                    <td id="com_content-title">{{ post.preface_2 }}</td>
                    <td id="com_content-body">{{ post.title }}</td>
                    {% endif %}
                </tr>
            </div>
            {% endfor %}
            {% else %}
                {% if search_keyword %}
                <tr>
                    <td scope="row" colspan="5">일치하는 검색 결과가 없습니다</td>
                </tr>
                {% else %}
                <tr>
                    <td scope="row" colspan="5">작성된 게시글이 없습니다</td>
                </tr>
                {% endif %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <div>
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#" style="color:#254074; border:0;">◀</a></li>
            {% for page in page_range %}
            <li class="page-item"><a class="page-link" href="{% url 'domitoryCommunity'%}?page={{page}}" style="color:#254074; border:0;">{{page}}</a></li>
            {% endfor %}
            <li class="page-item"><a class="page-link" href="#" style="color:#254074; border:0;">▶</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block last %}
<script>
    
    // 커뮤니티에서 nav 고정
    const box = document.querySelector(".second");
    box.style.display="block";
    
    const highlight = document.getElementById('nav_domitory');
    highlight.style.color ="rgba(37, 64, 116, 1)";
</script>
{% endblock %}



