{% extends 'base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/write.css' %}">

{% endblock %}

{% block content %}
<div class="info_container col-12 col-md-12 offset-md-0 col-lg-10 offset-lg-1 col-xxl-8 offset-xxl-2">
	<h3 class="row justify-content-center">자취 정보 공유 게시판</h3>

	<form action="" method="post">
		<div class="info_container-box1">
			{% csrf_token %}

			<input type="hidden" name="user_id" value='{{ user.id }}'>

			<select id="preface" class="hashtag btn col-4 col-md-2" name="preface" onchange="categoryChange(this)">
				<option value="">말머리</option>
				<option value="해결했어요">해결했어요</option>
				<option value="질문있어요">질문있어요</option>
				<option value="원룸정보">원룸정보</option>
			</select>

			<select class="hashtag btn col-4 col-md-2" name="preface_2" id="preface_2">
				<option value="">세부 선택</option>
			</select>
			
			<!-- 말머리 -->
			<input id="title"name="title" type="text" placeholder="이곳에 제목을 작성하세요." class="col-12 col-md-8">
			<!-- 정보 게시판 제목 -->
		</div>
		<div class="info_container-box2 row">
			<img src="" alt="profile_image" class="col-2 col-md-2 mb-2">
			<!-- 프로필이미지 -->
			<p class="col-9 col-md-7 mb-2">{{ user.user_nickname }}</p>
			<input type="file" name="image" id="" class="col-12 col-md-3">
			<!-- 사진 업로드 -->
		</div>
		<textarea id="content"class="body" name="content" cols="130" rows="20" style="resize: none;"
			placeholder="   이곳에 본문을 작성하세요."></textarea>
		<!-- 정보 게시판 작성 내용 -->
		<button id ="submit" type="submit">저장</button>
	</form>


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
	function categoryChange(preface_1) {
		var preface_a = ["생활정보", "원룸"];
		var preface_b = ["생활정보", "원룸"];
		var preface_c = ["정문", "후문", "남문", "호탄", "기타"];
		var target = document.getElementById("preface_2");

		// preface.value와 target.value 값 POST로 불러오기 //

		if (preface_1.value == "해결했어요") var d = preface_a;
		else if (preface_1.value == "질문있어요") var d = preface_b;
		else if (preface_1.value == "원룸정보") var d = preface_c;

		target.options.length = 0;

		for (x in d) {
			var opt = document.createElement("option");
			opt.value = d[x];
			opt.innerHTML = d[x];
			target.appendChild(opt);
		}
	}
    $(document).ready(function(){
        $("#submit").click(function(){
        if($("#preface").val().length===0){alert("말머리를 선택해주세요.");$("#preface").focus();return false;}
        if($("#preface_2").val().length===0){alert("말머리를 선택해주세요.");$("#preface_2").focus();return false;}
        if($("#title").val().length===0){alert("제목을 입력해주세요.");$("#title").focus();return false;}
        if($("#content").val().length===0){alert("내용을 입력해 주세요.");$("#content").focus();return false;}

    });
});
</script>
{% endblock %}

{% block last %}
<script>
    let open_btn = document.querySelector("#btn-modal");
    open_btn.style.display="none";
</script>
{% endblock %}
