{% extends 'base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/main2.css' %}">

<!-- <link rel="stylesheet" href="{% static 'css/scss/main_scss.css' %}"> -->
{% endblock %}
{% block content %}

{% if success == '1' %}
<script>
    alert('회원가입이 완료되었습니다.')
</script>
{% endif %}


<div>
        <div class="content-top row justify-content-center ">
            <div class="text col-lg-5 col-md-6 col-sm-12 p-0">
                <h1 class="main-title front-title">나와 딱 맞는</h1>
                <h1 class="main-title front-title">룸메이트 찾기</h1>
                <div class="title-shadow">
                    <h1 class="main-title shadow-title">나와 딱 맞는</h1>
                    <h1 class="main-title shadow-title">룸메이트 찾기</h1>
                </div>
                <p class="detail" >당신의 새로운 시작과<br>새로운 룸메이트와의 꽃길을 응원합니다.</p>
            </div>
            <div class="main-img col-lg-5 col-md-6 col-sm-12 p-0 d-none d-sm-none d-md-block">
                 <img class="col-lg-5 col-md-6 col-sm-12" id="main-img"src="{% static 'img/img_main.png' %}" alt="">
            </div>
        </div>
        <div class="content-bottom row justify-content-center">
            <div class="menu-1 col-lg-5 col-md-6 col-12 p-5">
                <h1 class="title">룸메이트 찾기</h1>
                <p class="detail">룸메이트 찾기를 등록한 사람들 중<br>나의 룸메를 찾아보세요</p>
                <button class="float-end shadow-btn" onclick="location.href='roommate/searchRoommate'">
                    <p class="m-0">바로가기 ></p>
                    <img src="" alt=""> <!-- 화살표 이미지 추가 -->
                </button>
            </div>
                <div class="menu-2 col-lg-5 col-md-6 col-12 p-5">
                    <h1 class="title">정보공유하기</h1>
                    <p class="detail">기숙사, 원룸 정보를 공유 해주세요</p>
                    <button class="float-end shadow-btn" onclick="location.href='domitoryCommunity'">
                        <p>바로가기 ></p>
                        <img src="" alt=""> <!-- 화살표 이미지 추가 -->
                    </button>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}

    {% block last %}
   
    
    <script>
        
        let open_btn = document.querySelector("#btn-modal");
        open_btn.style.display="none";
    </script>
    {% endblock %}
