{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block content %}
<div class="mypage_container bg row justify-content-center">
    <div class="mypage_nav col-4 d-none d-md-block">
        <h3 class="mypage_title">마이페이지</h3>
        <!-- border-left 색상 바꾸기 (클릭 모션) -->
        <ul>
            <li><a href="{% url 'mypageProfile' %}">회원정보 수정</a></li>
            <li><a href="{% url 'infoWrite' %}">체크리스트 수정</a></li>
            <li><a href="{% url 'mypageScrap' %}">스크랩 목록</a></li>
            <li><a href="{% url 'mypageWritten' %}">내가 작성한 글</a></li>
        </ul>
    </div>
    <!-- 모바일버전 nav -->
    <div class="mypage_nav_mobile row d-block d-md-none">
        <ul >
            <li><a href="{% url 'mypageProfile' %}">회원정보 수정</a></li>
            <li><a href="{% url 'infoWrite' %}">체크리스트 수정</a></li>
            <li><a href="{% url 'mypageScrap' %}">스크랩 목록</a></li>
            <li><a href="{% url 'mypageWritten' %}">내가 작성한 글</a></li>
        </ul>
    </div>
    <div class="mypage_content col-10 col-md-8">
        <div class="mypage_write-content">
            <h3 class="mypage_subtitle">내가 작성한 글</h3>
            <button class="mypage_btn">수정</button>

                
            <!-- span for문돌리기 -->
            <div class="mypage_sub-bar">
                
                <input type="checkbox" name="written" id="checkbox" class="checkbox_all" value='selectall'
                    onclick='selectAll(this)'>
                <p>카테고리</p>
                <p>제목</p>
            </div>

            <form action="" method="post" id="frm">
                {% csrf_token %}
            </form>


            {% for post in d_posts %}
            <div class="mypage_list">
                <input class="mypage_list-checkbox checkbox_all" type="checkbox" name="written">
                <p class="mypage_content-title" onclick='location.href="{% url 'domitoryView' post.id %}"'>기숙사 정보</p>
                <p class="mypage_content-body" onclick='location.href="{% url 'domitoryView' post.id %}"'>{{ post.title }}</p>
            </div>
            {% endfor %}
            {% for post in o_posts %}
            <div class="mypage_list" >
                <input class="mypage_list-checkbox checkbox_all" type="checkbox" name="written">
                <p class="mypage_content-title" onclick='location.href="{% url 'offcampusView' post.id %}"'>자취 정보</p>
                <p class="mypage_content-body" onclick='location.href="{% url 'offcampusView' post.id %}"'>{{ post.title }}</p>
            </div>
            {% endfor %}



            <button class="mypage_delete">삭제하기</button>
            <div>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">◀</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">▶</a></li>
                </ul>
            </div>
        </div>
    </div>

    <script>

        const mypage_btn = document.querySelector('.mypage_btn');
        const mypage_list_checkbox = document.querySelectorAll('.mypage_list-checkbox');
        const delete_btn = document.querySelector('.mypage_delete');
        const checkbox_all = document.querySelectorAll('.checkbox_all');

        let edit = 0;
        delete_btn.style.visibility = 'hidden';

        for (var i = 0; i < checkbox_all.length; i++) {
            checkbox_all[i].style.visibility = 'hidden';
        }
        mypage_btn.addEventListener('click', function (event) {

            if (edit == 0) {
                edit = 1;
                for (var i = 0; i < checkbox_all.length; i++) {
                    checkbox_all[i].style.visibility = 'visible';
                }
                delete_btn.style.visibility = 'visible';
            }
            else {
                edit = 0;
                for (var i = 0; i < checkbox_all.length; i++) {
                    checkbox_all[i].style.visibility = 'hidden';
                }
                delete_btn.style.visibility = 'hidden';

            }
        });

        //체크박스 전체선택 기능
        function selectAll(selectAll) {
            const checkboxes = document.getElementsByName('written');

            checkboxes.forEach((checkbox) => {
                checkbox.checked = selectAll.checked;
                //체크박스의 checked 값을 'Select All' element의 check 값(selectAll.checked)과 동일하게 변경
            })
        }

        //포스트 삭제 기능.
        delete_btn.addEventListener('click', function (event) {
            const frm = document.getElementById('frm');
            for (var i = 0; i < mypage_list_checkbox.length; i++) {
                if (mypage_list_checkbox[i].checked) {
                    var newNode = document.createElement("input");
                    newNode.value = i;
                    newNode.name="delete_array[]";
                    //POST로 보낼 차례 데이터 만들기
                    frm.appendChild(newNode);
                    console.log(newNode.value);
                    }
            }
            frm.submit();
            
        });



    </script>
</div>
{% endblock %}