{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/mypage.css' %}">
{% endblock %}

{% block content %}
<div class="mypage_container bg">
<div class="mypage_nav  col-lg-5 col-md-6 col-sm-12 ">
    <h3 class="mypage_title">마이페이지</h3>
    <!-- border-left 색상 바꾸기 (클릭 모션) -->
    <ul>
        <li><a href="{% url 'mypageProfile' %}">회원정보 수정</a></li>
        <li><a href="{% url 'infoWrite' %}">체크리스트 수정</a></li>
        <li><a href="{% url 'mypageScrap' %}">스크랩 목록</a></li>
        <li><a href="{% url 'mypageWritten' %}">내가 작성한 글</a></li>
    </ul>
</div>
<div class="mypage_content col-lg-5 col-md-6 col-sm-12">
    <div class="mypage_write-content">
        <h3 class="mypage_subtitle">내가 작성한 글</h3>
        <button class="mypage_btn">수정</button>
    
        <!-- span for문돌리기 -->
        <div class="mypage_sub-bar">
            <input type="checkbox" name="" id="checkbox" class="mypage_list-checkbox">
            <p>카테고리</p>
            <p>제목</p>
        </div>
    
        
        {% for d_post in d_posts %}
        <div class="mypage_list">
            <input class="mypage_list-checkbox" type="checkbox" name="" id="checkbox">
            <p class="mypage_content-title">기숙사 정보</p>
            <p class="mypage_content-body">{{ d_post.title }}</p>
        </div>
        {% endfor %}
        {% for o_post in o_posts %}
        <div class="mypage_list">
            <input class="mypage_list-checkbox" type="checkbox" name="" id="checkbox">
            <p class="mypage_content-title">자취 정보</p>
            <p class="mypage_content-body">{{ o_post.title }}</p>
        </div>
        {% endfor %}



        <a class="mypage_delete" href="">삭제하기</a>
        <div>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">◀</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">▶</a></li>
            </ul>
        </div>
    </div>
</div>

<script>


    const mypage_btn = document.querySelector('.mypage_btn');
    const mypage_list_checkbox = document.querySelectorAll('.mypage_list-checkbox');
    const delete_btn = document.querySelector('.mypage_delete');

    let edit = 0;
    delete_btn.style.visibility='hidden';

    for ( var i= 0 ; i <mypage_list_checkbox.length ; i++ ){
        mypage_list_checkbox[i].style.visibility = 'hidden';
    }
    mypage_btn.addEventListener('click', function(event) {
        
        if(edit==0){
            edit = 1;
            for ( var i = 0 ; i<mypage_list_checkbox.length ; i++){
            mypage_list_checkbox[i].style.visibility = 'visible';
            }
            delete_btn.style.visibility='visible';
        }
        else{
            edit = 0;
            for ( var i = 0 ; i<mypage_list_checkbox.length ; i++){
            mypage_list_checkbox[i].style.visibility = 'hidden';
            }
            delete_btn.style.visibility='hidden';

        }
    });
</script>
</div>
{% endblock %}