{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mypage_nav">
    <h3>마이페이지</h3>
    <!-- border-left 색상 바꾸기 (클릭 모션) -->
    <a href="">회원정보 수정</a>
    <a href="">체크리스트 수정</a>
    <a href="">스크랩 목록</a>
    <a href="">내가 작성한 글</a>
</div>
<div>
    <h3>내가 작성한 글</h3>
    <button>수정</button>
    <div>
        <!-- span for문돌리기 -->
        <span>
            <input type="checkbox" name="" id="">
            <p>제목</p>
            <p>날짜</p>
        </span>
    </div>
    <div>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">◀</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">▶</a></li>
        </ul>
    </div>
    <a href="">삭제하기</a>


</div>
<img class="open" id="jsBtn" src="{% static 'img/chat_icon.png' %}" alt="">
<div class="modal hidden" id="jsModal">
    <button class="modal__closeBtn" id="jsCloseBtn">X</button>
</div>


<script>
    const open = document.querySelector(".open");
    const close = document.querySelector(".modal__closeBtn");
    const modal = document.querySelector(".modal");

    function init(){
        open.addEventListener("click",function(){
            modal.classList.remove("hidden");
        });
        close.addEventListener("click",function(){
            modal.classList.add("hidden");
        });
    }

    init();
</script>
{% endblock %}