{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/view_page.css' %}">
{% endblock %}
{% block content %}
<div class="popup">
    <h4>스크랩 성공!</h4>
    <div class="popup-close">&times;</div> 
</div>

<div class="popup2">
    {% if messages %}
    <h4>
        {% for message in messages %}
        {{ message.message }}
        {% endfor %}
    </h4>
        {% endif %}
    <div class="popup2-close">&times;</div>
</div>

<div class="view_container col-12 col-md-12 offset-md-0 col-lg-10 offset-lg-1 col-xxl-8 offset-xxl-2">
    <p class="view_info btn">{{ post.preface }} | {{ post.preface_2 }}</p>
    <div class="view_box1">
        <h3>{{ post.title }}</h3>
        <form action="" method="GET">
            {% if user.is_authenticated %}
            <button class="scrapBtn float-end p-2" id="Favorites" type="submit" name="Favorites" value="scrap">

                <i class="far fa-star" id="star"></i></button>
            {% endif %}
        </form>
        <!-- 타이틀 -->
        <small class="float-end p-2" >{{ post.pub_date }}</small>
        <!-- <i class="fas fa-star" id="fillStar"></i> -->
    </div>
    <div class="view_box2">
        <img src="{{ post.user_id.user_image.url }}" alt="profile_image" style="width:50px; height:50px;">

        <!-- 프로필이미지 -->
        <p class="col-12 col-md-3"> {{ post.user_id.user_nickname }} </p>

        <!-- 닉네임 -->        

    </div>
    <hr>
    <div class="mb-5">
        <p class="body">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="image" style="width:80%;">
        {% endif %}
        {{ post.content }} </p>
        <!-- 내용 -->
        {% if post.user_id.id == user.id %}
        <div class="bottom">
            <a href="{% url 'offcampusUpdate' post.id %}" class="btn btn-light"><span>수정</span></a>
            <a href="{% url 'offcampusDelete' post.id %}" class="btn btn-light"><span>삭제</span></a>
        </div>
        <br><br>
        {% else %}
        {% endif %}

    </div>

</div>


<script>
    const scrapBtn = document.querySelector('.scrapBtn');
    const popup = document.querySelector('.popup');
    const popup2 = document.querySelector('.popup2');
    const popupClose = document.querySelector('.popup-close');
    popup.style.display="none";
    popup2.style.display="none";
    document.querySelector("#fstar").style.display = 'none';


    document.querySelector(".popup-close").onclick = function() {
        document.querySelector(".popup").style.display="none";
    }
    document.querySelector(".popup2-close").onclick = function() {
        document.querySelector(".popup2").style.display="none";
    }

    if("{{fail}}"=="0"){
        popup.style.display = 'block'; 
        document.querySelector("#star").style.display = 'none';
        document.querySelector("#fstar").style.display = 'block';

    }
    if("{{fail}}"=="1"){
        popup2.style.display = 'block'; 
        document.querySelector("#star").style.display = 'none';
        document.querySelector("#fstar").style.display = 'block';
    }
    
    if("{{ okscrap }}" == "0"){
        document.querySelector("#star").style.display = 'none';
        document.querySelector("#fstar").style.display = 'block';
    }

</script>
{% endblock %}