{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/community.css' %}">
{% endblock %}
{% block content %}
<div class="com_container col-12 col-md-12 offset-md-0 col-lg-10 offset-lg-1 col-xxl-8 offset-xxl-2"">
    <h3>자취 정보 공유 게시판</h3>
    <a id="com_t" class="col-3 offset-8 col-md-2 offset-md-10" href="{% url 'offcampus_popular' %}>인기 게시글</a>
    <div class="search_bar">
        <h2 class="d-none d-md-block">검색</h2>
        <form action="" class="" method="get">
            {% csrf_token %}
            <div class="search-input-box">
                <input  type="text" class="search-input" name="search_keyword" value="{{ search_keyword }}" placeholder="검색어를 입력해주세요">
                <button id="search_btn" type="submit"><i class="fal fa-search"></i></button>
            </div>
        </form>
        <div>
            {% if user_id %}
            <button id="plus_btn" onclick='location.href="{% url 'infoWrite' %}"'><i class="fal fa-plus"></i></button>
            {% else %}
            <button id="plus_btn" onclick="alert('글쓰기는 로그인 후에 가능합니다.')"><i class="fal fa-plus"></i></button>
            {% endif %}
        </div>
    </div>

        {% if search_keyword %}
        <h5> &nbsp; '{{ search_keyword }}' 검색 결과입니다</h5>
        {% endif %}
        {% if posts %}
        {% for post in posts %}
        <div class="com_content" onclick="location.href='{% url 'offcampusView' post.id %}'">

            {% if post.preface_2 == '정문' or post.preface == '후문' or post.preface == '남문' or post.preface == '호탄' or post.preface == '기타' %}
            <p id="com_content-info" class="preface">원룸정보</p>
            <p id="com_content-title">{{ post.preface_2 }}</p>
            <p id="com_content-body">{{ post.title }}</p>
            {% else %}
            <p id="com_content-info" class="preface">{{ post.preface }}</p>
            <p id="com_content-title">{{ post.preface_2 }}</p>
            <p id="com_content-body">{{ post.title }}</p>
            {% endif %}

        </div>
        {% endfor %}
        {% else %}
            {% if search_keyword %}
            일치하는 검색 결과가 없습니다
            {% else %}
            작성된 게시글이 없습니다
        {% endif %}
    {% endif %}

    </div>

    <div>
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#" style="color:#254074; border:0;">◀</a></li>
            {% for page in page_range %}
            <li class="page-item"><a class="page-link" href="{% url 'offcampusCommunity'%}?page={{page}}" style="color:#254074; border:0;">{{page}}</a></li>
            {% endfor %}
            <li class="page-item"><a class="page-link" href="#" style="color:#254074; border:0;">▶</a></li>
        </ul>
    </div>
</div>


<script>


    // 커뮤니티에서 nav 고정
    const box = document.querySelector(".second");
    box.style.display = "block";

    const highlight = document.getElementById('nav_offcampus');
    highlight.style.color = "rgba(37, 64, 116, 1)";
</script>
{% endblock %}