{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/view_page.css' %}">
{% endblock %}
{% block content %}

<div class="view_container">
    <p class="view_info">{{ post.preface }} | {{ post.preface_2 }}</p>
    <div class="view_box1">
        <h3>{{ post.title }}</h3>
        <!-- 타이틀 -->
            <small>{{ post.pub_date }}</small>
    </div>
    <div class="view_box2">
        <img src="{{ post.user_id.user_image }}" alt="profile_image">
        <!-- 프로필이미지 -->
        <p> {{ post.user_id.user_nickname }} </p>
        <!-- 닉네임 -->

    </div>

    <div>
        <p class="body"> 
        <img src="{{ post.image }}" alt="image">
        {{ post.content }} </p>
        <!-- 내용 -->
        {% if post.user_id.id == user.id %}
        <div class="bottom">
            <a href="{% url 'offcampusUpdate' post.id %}"><span>수정</span></a>
            <a href="{% url 'offcampusDelete' post.id %}"><span>삭제</span></a>
        </div>
        {% else %}
        {% endif %}

    </div>
    <div>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">◀ 이전글</a></li>
            <li class="page-item"><a class="page-link" href="/offcampusCommunity">목록</a></li>
            <li class="page-item"><a class="page-link" href="#">다음글 ▶</a></li>
        </ul>
    </div>
</div>
{% endblock %}