<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 정보 입력 페이지</title>
</head>
<body>
    <!-- 네비바 없음 -->
    <h1 class="title">내 정보 입력하기</h1>
    <!-- 진행바 -->
    <div class="progress">
        <div class="background-bar">
            <div class="front-bar">
                <p class="text">진행상황</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="question grade">
            <h2 class="title">나의 학년은?</h1>
            <div class="answer">
                <input type="number" name="grade">
            </div>
        </div>
        <div class="question room-type">
            <h2 class="title">기숙사 룸메이트를 구하시나요,<br>자취 룸메이트를 구하시나요?</h1>
            <div class="answer">
                <input type="radio" id="room-type-1" name="room-type" value="기숙사"><label for="room-type-1">기숙사</label>
                <input type="radio" id="room-type-2" name="room-type" value="자취"><label for="room-type-2">자취</label>
            </div>
        </div>
        <!-- if 기숙사 -->
        

        </div>
    </div>
    <div class="question dormitory-number">
        <h2 class="title">몇 동 룸메이트를 구하시나요?</h1>
        <div class="answer">
            <input type="button" name="dormitory-number" value="10동">
            <input type="button" name="dormitory-number" value="8동">
            <input type="button" name="dormitory-number" value="6동">
            <input type="button" name="dormitory-number" value="3동">
            <input type="button" name="dormitory-number" value="2동">
            <input type="button" name="dormitory-number" value="1동">
        </div>
    </div>
    <div class="question dormitory-period">
        <h2 class="title">룸메이트와 함께할 기간을 입력해주세요!</h1>
        <div class="answer">
            <select type="month" name="dormitory-period">
                <option value="1학기">1학기</option>
                <option value="여름방학">여름방학</option>
                <option value="2학기">2학기</option>
                <option value="겨울방학">겨울방학</option>
            </select>
        </div>
    </div>


</body>
</html>