@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    color: #454545;
    line-height: 1;

}
/* 공통적용 */

.pagination{
    list-style-type: none;
    font-family: 'S-CoreDream-3Light';
    margin: 50px auto 0px auto;
    width: 100%;
}
.pagination li{
    float: left;
    margin-right: 20px;
}

/*----- 타이틀 -----*/
.main-check{
    display: inline-block;
    margin-top: 3vw;
    margin-left: 3vw;

}

.main-check > a{
    font-family: 'yg-jalnan';
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: rgba(93, 148, 255, 1);
}

.main-check > svg{
    position: relative;
    width: 20px;
    height: 20px;
    top: -0.4vh;
    margin-right: 0.5vw;
}

/*----- 네비바 -----*/

nav{
    font-family: 'yg-jalnan';
    display: inline-block;
    float: right;
    margin-top: 3vw;
    margin-right: 3vw;
    font-size: 20px;
    color: rgba(93, 148, 255, 1);
}

nav a {
    color: rgba(93, 148, 255, 1);
    text-decoration: none;
    font-size: 15px;
    margin-right: 3vw;
}


nav > .right-menu
{
    display: inline-block;
    color: rgba(93, 148, 255, 1);
}

nav li{
    list-style: none;
    color:#959595;
}

.first li{
    font-size: 14px;
    float: left; 
    /* height:2.5rem; */
    position:relative;

}

.second{
    position:absolute; top:100%; left:0;
    display:none;
    font-family: 'S-CoreDream-6bold';
    font-size:1rem;
    padding-left:0;
    padding-top:0.5rem;

}
.second li{
    width:100%;
    padding: 5px 0 5px 7px;
    border-left: 3px solid rgba(145, 142, 255, 1);
    
}

.second li:last-child{
    padding: 5px 0 0px 7px;
}

.second li:hover{
    color: #254074;
}

.first li:hover .second{display:block;}

.first li:active .second{display:block;}

.second :hover{display:block;}

/* 푸터 */

footer{
    font-family: 'S-CoreDream-5Medium';
    font-size: 13px;
    width: 100vw;
    height: auto;
    background: #D6D8DD;
    padding: 30px 0px 10px 20px;
}

footer div{
    display: flex;
    
}

.font-bold{
    font-family: 'S-CoreDream-9Black';
    color: white;
}

footer p{
    padding: 0px 10px 10px 20px;
    color: white;
}

@media screen and (max-width: 765px){
    footer div:nth-child(2){
        display: block;
    }
}