@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




*{
    margin: 0;
    padding: 0;
}
/* 공통적용 */

.pagination{
    list-style-type: none;
    font-family: 'S-CoreDream-3Light';
    list-style-type: none;
    margin-top: 50px;
    margin-left: 8vw;
    width: 20vw;
}
.pagination li{
    float: left;
    margin-right: 20px;
}

/*----- 타이틀 -----*/
.main-check{
    display: inline-block;
    margin-top: 3vw;
    margin-left: 3vw;
}

.main-check > a{
    font-family: 'yg-jalnan';
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    color: rgba(93, 148, 255, 1);
}

.main-check > svg{
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    top: -0.7vh;
    margin-right: 0.5vw;
}

/*----- 네비바 -----*/

nav{
    font-family: 'yg-jalnan';
    display: inline-block;
    float: right;
    margin-top: 3vw;
    margin-right: 3vw;
    font-size: 1.4rem;
    color: rgba(93, 148, 255, 1);
}

nav a {
    color: rgba(93, 148, 255, 1);
    text-decoration: none;
    font-size: 1.0rem;
    margin-right: 3vw;
}

nav > .right-menu
{
    display: inline-block;
    color: rgba(93, 148, 255, 1);
}

/* 푸터 */

footer{
    font-family: 'S-CoreDream-5Medium';
    font-size: 13px;
    width: 100vw;
    height: auto;
    background: #D6D8DD;
    color: white;
    padding: 30px 0px 10px 20px;
}

footer div{
    display: flex;
    
}

.font-bold{
    font-family: 'S-CoreDream-9Black';
}

footer p{
    padding: 0px 10px 10px 20px;
}