
 /* login 실패 모달창 */
 .popup-overlay{
     top: 0px;
     left: 0;
     width: 100vw;
     height: 100vh;
     background: rgba(0, 0, 0, 0.5);
     position: fixed;
     padding: 20px;
     /* display: none; */
     z-index: 1;
 }
 .popup{
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 370px;
    height: 100px;
    background: #f5f5f5;
    z-index: 2;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
 }
 .popup .popup-close{
    position: absolute;
    top: 5px;
    right: -10px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
 }
 .popup h4{
    text-align: center;
    font-size: 20px;
    font-family: 'yg-jalnan';
    line-height: 30px;
    margin-top: 20px;

 }
 /* login 페이지 */

 .login{
    width: 70vw;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;

}
.title-login{
    width: 310px;
    height: 53px;
    margin-left: 28vw;
    font-family: 'yg-jalnan';
    font-size: 50px;
    background: linear-gradient(125deg, rgba(145, 142, 255, 1) 15%, rgba(63, 151, 255, 1) 85%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}
.login-box{
    width:  25vw;
    margin: 0px auto;
}
.login-box input{
      height: 30px;
}
.login-box p{
    font-family: 'S-CoreDream-5Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
}
.find{
    font-family: 'S-CoreDream-2ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 20px;
    color: #454545;
}
.login input{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    border-bottom: 2px solid #C9C9C9;
}
#login_btn{
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border: 0px solid white;
    display: inline;
    width: 10vw;
    height: 53px;
    margin-right: 4vw;
    font-family: 'S-CoreDream-7ExtraBold';
    background: #3F97FF;
    border-radius: 10px;
    color:  #FFFFFF;
    font-size: 20px;
    line-height: 24px;
}
#kakao-login{
    width: 10vw;
    height: 53px;
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 15px;
    color: #3F97FF;
    background: #FFFFFF;
    border: 3px solid #3F97FF;
    box-sizing: border-box;
    border-radius: 10px;
}
