@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 부트스트랩 반응형 재정의 */
@media (min-width: 576px) {
    :root{
        font-size:7px;
    }
}
@media (min-width: 768px) {
    :root{
        font-size:9px;
    }
}
@media (min-width: 992px) {
    :root{
        font-size:13px;
    }
}
@media (min-width: 1200px) {
    :root{
        font-size:16px;
    }
}

.container{
    padding: 10vh 9vw;
}

.content-top{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

/* 메인 텍스트 */
.text{
    position: relative;
    margin: auto auto;
    width: 80% !important;
}

.text, title-shadow{
    /* min-width: 400px; */
}

.main-title{
    text-align: right;
    width: 100%;
    font-family: 'Jalnan';
    font-style: normal;
    font-size: 3.5rem;
    margin: 0 0 2vh 0;
}

.front-title{
    background: linear-gradient(98.11deg, #918EFF 7.66%, #3F97FF 97.55%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}

.title-shadow{
    position:absolute;
    text-align: right;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

.text > .detail{
    width: 100%;
    text-align: right;
    font-family: 'S-CoreDream-5Medium';
    color: #3F97FF;
    margin: 3vh 0 0 0;
    font-size: 1.2rem;
}

/* 메인 이미지 */
#main-img{
    width: 80%;
    margin: 0 auto;
    object-fit: cover;
}

/* 메뉴 */
.content-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu-1,.menu-2{
    position: relative;
    width: 100%;
    height: 20rem;
    color:white;
}

.menu-1{
    background: #3F97FF;
}

.menu-2{
    background-color: rgba(145, 142, 255, 1);
}

.menu-1 > .title, .menu-2 > .title{
    font-family: 'Jalnan';
    font-weight: bold;
    font-size: 2rem;
    color: #FFFFFF;
    margin: 10% 0 3% 10%;
}

.menu-1 > .detail, .menu-2 > .detail{
    font-family: 'S-CoreDream-5Medium';
    font-size: 1rem;
    margin: 0px 10% 0px 10%;
    color: #FFFFFF;
    height: 35%;
}

button{
    float: right;
    width: 45%;
    height: 2.5rem;
    margin: 0 10% 0 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border: 0px solid white;
    border-radius: 100px;
}

button p{
    font-family: 'Jalnan';
    font-size: 1.3rem;
    line-height: 2.5rem;
    text-align: center;
    vertical-align: middle;
    color: #254074;
}