@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-9Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-6Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-2ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}

.container{
    padding: 5vh 7vw;
}

.content-top{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text{
    width: 40vw;
    min-width: 400px;
    position: relative;
}

.content-top .text .title-top, .content-top .text .title-bottom{
    position: relative;
    width: 100%;
    font-family: Jalnan;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 64px;
    text-align: right;
    margin-bottom: 20px;
}
.content-top .text .title-top{
    /* 글자색 그라디언트 */
    background: linear-gradient(125deg, rgba(145, 142, 255, 1) 45%, rgba(63, 151, 255, 1) 55%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}
.content-top .text .title-bottom{
    background: linear-gradient(125deg, rgba(145, 142, 255, 1) 45%, rgba(63, 151, 255, 1) 55%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    color: transparent;

}
.content-top .text .title-top{
    margin-top: 70px;
}

.content-top .text .title-top:after{
    background: none;
    content: "나와 딱 맞는";
    top: 0px;
    left: 16.5vw;
    position: absolute;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.content-top .text .title-bottom:after{
    background: none;
    content: "룸메이트 찾기";
    top: 0px;
    left: 13.8vw;
    position: absolute;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.text > .detail{
    width: 100%;
    text-align: right;
    position: absolute;
    font-family: 'S-CoreDream-5Medium';

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #3F97FF;
}
.container .img{
    position: absolute;
    width: 440px;
    height: 331px;
    left: 728px;
    top: 168px;

}

.content-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* 메뉴 */
.menu-1,.menu-2{
    position: relative;
    width: 40vw;
    height: 307px;
    color:white;
}

.menu-1{
    background: #3F97FF;
}

.menu-2{
    background-color: rgba(145, 142, 255, 1);
}

.menu-1 > .title, .menu-2 > .title{
    font-family: Jalnan;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 37px;
    color: #FFFFFF;
    margin: 60px 60px 20px 60px;
}
.menu-1 > .detail, .menu-2 > .detail{
    font-family: 'S-CoreDream-5Medium';

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 60px 60px 60px;
    color: #FFFFFF;
}

button{
    float: right;
    width: 35%;
    /* min-width: 400px; */
    height: 40px;
    left: 55%;
    top: 70%;
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border: 0px solid white;
    border-radius: 100px;
}

button p{
    font-family: 'Jalnan';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;

    color: #254074;
}

/* 채팅 모달 */

.hidden{
    display:none;
}
.open{
    position: absolute;
    right: 5vw;
    bottom: 11vh;
    width: 39px;
height: 44px;
}
.modal{
    position: absolute;
    right: 9vw;
    bottom: 15vh;
    width: 20vw;
    height: 50vh;
    background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
/* 공통 적용 */
.pagination{
    font-family: 'S-CoreDream-3Light';
    list-style-type: none;
    width: 90vw;
}
.pagination li{
    float: left;
    margin-right: 20px;
}
.title{
    padding-top: 60px;
    padding-left: 20px;
    padding-bottom: 50px;
    font-family: Jalnan;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #254074;
}
/* 공통적용 */

.pagination{
    list-style-type: none;
    font-family: 'S-CoreDream-3Light';
    list-style-type: none;
    padding-top: 400px;
    padding-left: 200px;
    width: 20vw;
}
.pagination li{
    float: left;
    margin-right: 20px;
}
.title{
    padding-top: 60px;
    padding-left: 20px;
    padding-bottom: 50px;
    font-family: Jalnan;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #254074;
}
/* mypage */

.mypage_container{
    display: grid;
    width: 70vw;
    margin: 0 auto;
    margin-top: 100px;
    grid-template-columns: 1fr 3fr;

}
.mypage_nav{
    border-right: 2px solid #C9C9C9;
    padding-right: 50px;
    height: 400px;
    width: 13vw;
}
.mypage_nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: left;
    font-family: 'S-CoreDream-5Medium';
}
.mypage_nav a{
    display:inline-block;
    margin-top:20px;
    text-decoration:none;
    color: #C6C6C6;
    width: 200px;
}
.mypage_nav>a:hover{

    color: black;
}

.mypage_nav>a:active{

    border-left:5px solid #3F97FF;
}

.mypage_content{
    padding: 20px 40px;
}
.mypage_content input{
    width: 90%;
    padding:5px;
    margin:10px;
    border:none;
    border-right:0px; 
    border-top:0px; 
    border-left:0px; 
    border-bottom: 2px solid rgba(201, 201, 201, 0.7);
}
input:focus {outline:none;
background-color: white;}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
 }
 
.mypage_content p{
    margin-left: 10px;
}
.mypage_title{
    font-family: Jalnan;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;  
    color: #254074;
    width: 200px;
    text-align: left;
    padding-right: 50px;
    padding-bottom: 30px;
}
.mypage_write-content{
    padding-top: 20px;
    width: 20vw;
}
.mypage_subtitle{
    font-family: Jalnan;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 26px;
    color: #254074;
    padding-bottom: 40px;
    /* width: 200px; */
}
.mypage_btn{
    font-family: 'S-CoreDream-7ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    /* text-align: center; */
    color: #5D94FF;
    border: 1px solid #268AFF;
    box-sizing: border-box;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    margin-left: 30vw;
    margin-top: 1vh;
}
.mypage_delete{
    font-family: 'S-CoreDream-3Light';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #001F70;
    /* width: 15vw; */
    white-space  : nowrap;
    margin-left: 50vw;
    /* margin-top: 25vh; */
}
.mypage_content-title{
    font-family: 'S-CoreDream-5Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}
.mypage_content-body{
    font-family: 'S-CoreDream-3Light';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #1F1F1F;
    white-space  : nowrap;
    width: 100px;
}
.mypage_list-checkbox  {
    width: 20px;
    height: 20px;
    left: 475px;
    top: 298px;
    border: 1px solid #959595;
    box-sizing: border-box;
    border-radius: 2px;
}
#checkbox{
    width: 16px;
    height: 16px;
    left: 475px;
    top: 298px;
    border: 1px solid #959595;
    box-sizing: border-box;
    border-radius: 2px;
}
/* .mypage_btn:checked ~ .mypage_list-checkbox  {
    width: 20px;
    height: 20px;
    left: 475px;
    top: 298px;
    border: 1px solid #959595;
    box-sizing: border-box;
    border-radius: 2px;
} */
.mypage_list{
    display: grid;
    grid-template-columns: 6vw 17vw 25vw;
    padding-top: 20px;
}

.mypage_sub-bar{
    display: grid;
    grid-template-columns: 8vw 25vw 25vw;
    font-family: 'S-CoreDream-5Medium';
    color: #254074;
    font-size: 17px;
    width: 53vw;
    border-bottom: 1px solid #959595;
}

.mypage_scap-content{
    padding-top: 20px;
    width: 20vw;
}

/* 정보게시판 */

.com_sub-content{
    position:absolute;
    padding: 100px 50px 40px 50px;
    border-bottom: 2px solid #C9C9C9;
    width: 900px;
    left: 160px;
    top: 180px;
}
.com_sub-content1{
    display: grid;
    grid-template-columns: 70px 90px;
    padding-left: 30px;
}
.com_sub-content1 input{
    width: 690px;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: left;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}
.com_sub-content a{
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    left: 710px;
    top: 70px;
    font-family: 'S-CoreDream-5Medium';
    /* a클릭 없애기 */
    background: linear-gradient(91.84deg, #6360FF 20%, #268AFF 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}
.com_sub-content h5{
    font-family: Jalnan;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 21px;
    /* text-align: center; */
    color: #254074;
    }
.com_sub-content1 button{
    width: 45px;
    height: 45px;
    left: 900px;
    top: 85px;
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    }
.com_content{
    position: absolute;
    padding-top: 180px;
    padding-left: 200px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 150px 600px 300px;
    width: 870px;
    height: 59px;
}
#com_content-info{
    font-family: 'S-CoreDream-6Bold';
    font-style: normal;
    font-weight: 60;
    font-size: 15px;
    line-height: 18px;
    text-align: center; 
    color: #254074;
    border: 1px solid #254074;
    box-sizing: border-box;
    border-radius: 25px;
    width: 90px;
    height: 31px;
}
#com_content-title{
    font-family: 'S-CoreDream-5Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    /* text-align: center; */
    color: #254074;
}
#com_content-body{
    font-family: 'S-CoreDream-3Light';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #1F1F1F;
    white-space  : nowrap;
    width: 100px;
}
/* 프로필 */
#target_img{
    width: 40px;
    height:40px;
    border-radius: 20px;
    /* width와 height의 절반 */
}
#user_nickname{
    width: 70px;
    border:none;
    border-right:0px; 
    border-top:0px; 
    border-left:0px; 
    border-bottom: 0px;
}

/* 제출 버튼 */
.btn4::before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #6098FF;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
.btn4:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}

 
/* 회원가입 페이지 */
.signup{
    width: 70vw;
    margin: 0 auto;
}
.signup .title{
    font-family: Jalnan;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    color: #254074;
    width: 20vw;
    /* height: 1vh; */
    white-space  : nowrap;
}
.sign_content{
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    line-height: 24px;
    margin-left: 20vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #C9C9C9;
}
.sign_content .sign_gender{
    display: grid;
    grid-template-columns: 200px 200px 200px;
}
.signup input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #C9C9C9;
    width: 300px;
} 
.sign_content .submit{

}

/* infoWrite창 */
.info_container{
    width: 70vw;
    margin: 0 auto;
    margin-top: 60px;
}
.info_container h3{
    font-family: Jalnan;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #254074;
    padding-bottom: 70px;
    height: 1vh;
}
.hashtag{
    font-family: 'S-CoreDream-7ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #254074;
    border: 1px solid #254074;
    box-sizing: border-box;
    border-radius: 10px;
}
.info_container-box1 input{
    padding-left: 13px;
    font-family: Jalnan;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0.1em;
}

.info_container input{
    border: none;
}
.info_container-box1{
    border: none;
    border-bottom: 2px solid #C9C9C9;
    padding-bottom: 10px;
}
.info_container button{
    font-family: Jalnan;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #5D94FF;
    border: 2px solid #268AFF;
    box-sizing: border-box;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    margin-left: 20vw;
    margin-top: 420px;
}
.info_container-box2{
    display: grid;
    grid-template-columns: 8vw 45vw 25vw;
    padding-top: 30px;
}
.info_container-box2 p{
    font-family: 'S-CoreDream-6Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.1em;
    color: #454545;
}
.info_container .body{
    padding-top: 20px;
    font-family: 'S-CoreDream-3Light';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    border: none;
}