p{
    margin: 0;
}
.container{
    margin-bottom: 10vh;
}
/* mypage */

.mypage_container{
    margin-top: 100px;
    grid-template-columns: 1fr 3fr;
}
.mypage_nav{
    border-right: 2px solid #C9C9C9;
    margin-right: 20px;
    width: 200px;
    height: 60vh;
    padding: 15px 10px 0 0;
}
.mypage_title{
    font-family: 'yg-jalnan';
    font-size: 25px;
    line-height: 32px;  
    color: #254074;
    /* white-space  : nowrap; */
    width: 100%;
}
/* 기본네비바 */
.mypage_nav ul{
    list-style: none;
    font-size: 15px;
    line-height: 20px;
    font-family: 'S-CoreDream-5Medium';
    padding-left: 0px;
}
.mypage_nav ul a{
    display:inline-block;
    margin-top:30px;
    text-decoration:none;
    color: #C6C6C6;
    text-align: left;
    width: 100%;
    /* white-space  : nowrap; */
}
.mypage_nav li >a:hover{

    color: #254074;
}

.mypage_nav li >a:active{

    border-left:5px solid #3F97FF;
}
/* 카테고리 버튼 */
.category-btn{
    color: #777777; 
    /* border: 2px solid #254074; */
    font-family: 'S-CoreDream-5Medium';
    background-color: white;

}

/*  */
.mypage_content{
    padding: 20px 40px;
}
.mypage_content input{
    width: 90%;
    padding:5px;
    border:none;
    border-right:0px; 
    border-top:0px; 
    border-left:0px; 
    border-bottom: 2px solid rgba(201, 201, 201, 0.7);
}

input:focus {
    outline:none;
    background-color: white;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
 }
 
.mypage_content p{
    font-family: 'S-CoreDream-5Medium';
    /* margin-top: 10px; */
    /* border-radius: 25px; */
}
.mypage_content-box2{
    margin-top: 15px;
}
.mypage_content-box2 p{
    color: #001F70;
    font-family: 'S-CoreDream-3Light';
    text-align: left;

}
.mypage_write-content, .mypage_scap-content{
    /* padding-top: 20px; */
    /* width: 60vw; */
}

.mypage_subtitle{
    font-family: 'yg-jalnan';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #254074;
    padding-bottom: 30px;
    /* width: 200px; */
}

#target_img{
    margin: 0 0 20px 0;
}

#user_name{
    font-family: 'S-CoreDream-6Bold';
    height: 50px;
    font-size: 25px;
    padding: 0 0 0 10px;
}

.mypage_btn{
    font-family: 'S-CoreDream-5Medium';

}
.mypage_delete{
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    /* color: #001F70; */
    white-space  : nowrap;
    /* margin-top: 30px; */
    /* margin-left: 80%; */
}
.mypage_content-title{
    font-family: 'S-CoreDream-5Medium';
    font-size: 15px;
    line-height: 20px;
}
.mypage_content-body{
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #1F1F1F;
}

.mypage_list-checkbox  {
    width: 20px;
    height: 20px;
    border: 1px solid #959595;
    box-sizing: border-box;
    border-radius: 2px;
}
input[type=checkbox]{
    width: 16px;
    height: 16px;
    border: 1px solid #959595;
    box-sizing: border-box;
    border-radius: 2px;
    vertical-align: middle;
}
/* .mypage_btn:checked ~ .mypage_list-checkbox  {
    width: 20px;
    height: 20px;
    left: 475px;
    top: 298px;
    border: 1px solid #959595;
    box-sizing: border-box;
    border-radius: 2px;
} */
.mypage_list{
    /* display: grid; */
    /* grid-template-columns: 6vw 17vw 25vw; */
    padding-top: 20px;
    height: 70vh;
}

.mypage_sub-bar{
    /* display: grid; */
    /* grid-template-columns: 8vw 25vw 25vw; */
    font-family: 'S-CoreDream-5Medium';
    color: #254074;
    font-size: 17px;
    /* width: 53vw; */
    border-bottom: 1px solid #959595;
}

/* 테이블 */
table{
    font-family: 'S-CoreDream-4Regular';
    font-size: 14px;
    width:100%;
    /* min-height: 60vh; */
    text-align: center;
    align-items: center;
}

table input{

}

thead > tr > th:nth-child(2){
    letter-spacing: -2px;
}

table td{
    font-family: 'S-CoreDream-3Light';

}

thead tr th:first-child{
    width: 40%;
}

thead tr th:nth-child(2){
    width: 60%;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom: 1px solid #a8a8a8;
}


@media screen and (max-width: 768px){
    /* 모바일 네비바 */
    .mypage_container{
        margin-top: 0;

    }

    .mypage_nav_mobile{
        margin: 20px 0;
    }

    .mypage_nav_mobile ul{
        list-style: none;
        font-size: 15px;
        line-height: 20px;
        font-family: 'S-CoreDream-5Medium';
        padding-left: 0px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .mypage_nav_mobile a{
        display:inline-block;
        color: #C6C6C6;
        text-decoration:none;
        padding: 5px;
        font-size: 14px;
    }

    .mypage_nav_mobile a:hover{
        color: #254074;
    }

    .mypage_nav_mobile li >a:active{
        color: #254074;
    }

    .mypage_content{
        padding: 0;
        margin: 0;
    }

    /* 버튼 */
    .category-btn, .mypage_btn, .btn{
        font-size:14px;
        
    }
}