
/* 회원가입 페이지 */
.signup{
    width: 70vw;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 100px;

}
.signup .title{
    font-family: 'yg-jalnan';
    font-size: 40px;
    color: #254074;
    width: 20vw;
    white-space  : nowrap;
    margin-bottom: 60px;
}
.sign_content{
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    line-height: 24px;
    margin-left: 20vw;
    border: none;
}
.sign_content .sign_gender{
    display: grid;
    grid-template-columns: 100px 130px 150px;
}
.signup input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #C9C9C9;
    width: 300px;
} 
input[type=radio]{
    width : 20px;
}
.submit{
    background: #FFFFFF;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border: 0px solid white;
    border-bottom: 0;
    width: 7vw;
    height: 38px;
    font-family: 'S-CoreDream-5Medium';
    background: #3F97FF;
    border-radius: 10px;
    color:  #FFFFFF;
    font-size: 15px;
    display: block;
    margin-left: 130px;
}
