*{
    line-height: 1;
}

.container{
    text-align: center;
    padding-top: 10vh;
    min-height: 100vh;
}

h6{
    margin: 0;
    letter-spacing: -0.1em;
    font-size: 13px;
}

h5{
    font-family: 'S-CoreDream-6Bold';
    margin-bottom: 10px;
}

/* 타이틀 */
.search_title{
    font-size: 30px;
    font-family: 'yg-jalnan';
    color:#254074;
    margin: 20px 0 50px 0;
}

/* survey 모달 창 */

#first_open_modal{
    position: fixed;
    left: calc(50vw - 200px);
    width: 400px;
    margin: 0;
    /* margin: auto auto; */
    z-index: 10;
}

.first_open_content{
    border-radius: 10px;
    --borderWidth: 2px;
    background: white;
    position: relative;
    border-radius: var(--borderWidth);

    font-family: 'S-CoreDream-4Regular';
    font-size: 15px;
    width: 100%;
    color: #254074;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    padding: 30px;
}

.first_open_content:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    border-radius: calc(2 * var(--borderWidth));
    background: linear-gradient(280.91deg, #3F97FF 8.36%, #918EFF 92.43%);
    z-index: -1;
}

.first_open_content p{
    margin-bottom: 17px;
}

.modal-btn{
    font-family: 'yg-jalnan';
    width: 40%;
    height: 30px;
    border: 0;
    border-radius: 100px;
    background-color: white;
    color:#254074;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    margin: 0 10px;
}

.modal-btn-X{
    position: absolute;
    width: 30px;
    top:-15px;
    left: 95%;
    padding: 0;
}


/* 검색바 위 버튼 */
.filter-btn-box{
    font-size: 15px;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    gap: 15px;
    justify-content: space-between;
}

.filter-btn-box-left{
    text-align: left;
    padding-left: 20px;
}

.filter-btn-box-right{
    text-align: right;
}

small{
    color: rgb(199, 199, 199)
}

.filter-btn-box button, .filter-btn-box input{
    /* font-family: ; */
    border: 0px solid white;
    background-color: white;
    padding: 5px;
}
.filter-btn-box button:first-child{
    background-color: none;
    background: linear-gradient(98.11deg, #918EFF 7.66%, #3F97FF 97.55%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    color: transparent;
}

/* 필터박스 */
#filter{
    color: #454545;
    font-family: 'S-CoreDream-4Regular';
    font-weight: 400;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    align-content: center;
}

.question{
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin: 10px 10px 10px 10px;
    align-content: center;
}

.question > title{
    margin: auto 0;
    align-self: center;
    vertical-align: middle;
}


/* 필터-input */
.question input{
    width: 12px;
    margin: auto 0 auto 5px;
    text-align: center;
    align-self: center;
}

.question input+label{
    font-family: 'S-CoreDream-3Light';
    margin-left: 3px;
    font-size: 13px;
}

/* 필터-input-time,select */
.dormitory_date select{
    width: 20px;
}

.dormitory_date span{
    font-family: 'S-CoreDream-3Light';
}

.question select:first-child{
    margin-bottom: 4px;
}
.question input[type=time]:first-child{
    margin: 0px 3px 0 0 ;
}

.question input[type=time], .question select{
    font-family: 'S-CoreDream-3Light';
    width: 40%;
    height: 20px;
    padding-left: 3px;
    font-size: 12px;
    border:1px solid rgb(199, 199, 199);
    border-radius: 5px;

    /* 글자 가운데 정렬 */
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.question input[type=checkbox]:checked, .question input[type=radio]:checked{
    background-color: #254074;
}

.question input[type=number]{
    width: 30%;
    font-size: 13px;
    border:1px solid rgb(199, 199, 199);
    border-radius: 5px;
}

select+span{
    font-size: 13px;
}

#filter-submit{
    font-family: 'S-CoreDream-6Bold';
    font-size: 14px;
    grid-column: 2;
    margin: 2% 5% 2% 65%;
    color: #254074;
    border: 1.5px solid #254074;
    border-radius: 10px;
    background-color: white;
    height: 70%;
    /* padding: 2px 0; */
}


#keyboard_noise{
    margin-top:5px;
}

/* 검색바 */
.search_bar{
    display: flex;
    justify-content: center;
    margin: 15px 0 30px 0;
}

.search_bar h2{
    color:#254074;
    margin: 0 10px 0 0;
    padding: 4px;
}

.search_bar form{
    display: flex;
    width: 90%;
}
.search_bar > h2{
    font-size: 20px;
    font-family: 'yg-jalnan';
}

.search-input-box{
    width: 100%;
}
.search-input{
    width: 100%;
    height: 30px;
    border-radius: 100px;
    border: 0;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin-right: 10px;
}

.search_bar button{
    position: relative;
    left: -40px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100px;
    border: 0px solid red;
}

/* 게시판 테이블 */
table{
    font-family: 'S-CoreDream-4Regular';
    font-size: 14px;
    width:100%;
    /* min-height: 60vh; */
}

thead > tr > th:nth-child(2){
    letter-spacing: -2px;
}

table td{
    font-family: 'S-CoreDream-3Light';

}

table thead{
    border-color:rgb(231, 231, 231);
    border-bottom-width: 1px;
    border-bottom: 1px 0 rgb(210, 210, 210);
    /* height: 5vh; */
}

/* 글쓰기버튼 */
.new-content
{
    color: rgb(88, 88, 88);
    font-size: 14px;
}

/*  */
pagination-box{
    margin: 0 auto;
}


/* 채팅아이콘 */
.open{
    width: 40px;
    position: fixed;
    top: 90vh;
    left: 90vw;
    z-index: 10;
}

@media screen and (max-width: 768px){
    .search_bar form{
        width: 100%;
    }

    #filter{
        grid-template-columns: 100%;
    }
    .question{
        grid-column: 1/1;
    }
    #filter-submit{
        grid-column: 1/1;
    }


}
