@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-7ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-family: 'yg-jalnan';
}

body{
    background: linear-gradient(280.91deg, #3F97FF 8.36%, #918EFF 92.43%);
    background-attachment: fixed;
}

h3{
    font-family: 'S-CoreDream-3Light';
}
/* 왼쪽 상단 타이틀 */
.top.title{
    text-align: left;
    font-size: 15px;
    margin: 30px;
}

/* 진행바 */
.progress, .front-bar, .background-bar{
    /* border: 1px solid gray; */
    height: 30px;
    border-radius: 20px;
}

.progress{
    width: 70%;
    margin: 60px auto;
}

.front-bar{
    background-color: white;
    width: 0%;
}

.background-bar
{
    background-color: grey;
}

.front-bar > .text{
    text-align: center;
    font-size: 13px;
    padding-top: 8px;
    text-align: center;
    font-family: 'S-CoreDream-3Light';
    color: #254074;
}

/* container - 문답 부분*/
.container{
    display: flex;
    width: 80vw;
    height: 40vh;
    margin: 20px auto;
    align-items: center;
}

.previous, .next{
    font-family: 'S-CoreDream-3Light';
    width: 10vw;
    align-items: center;
}

.question-box{
    width: 60vw;
}

.question{
    padding: 30px;
    /* text-align: center; */
    /* border-bottom: 1px solid white; */
    min-width: 650px;
}

.question > .title{
    margin-bottom: 20px;
    /* height: 10vh; */
    font-size: 30px;
}

.question > .answer{
    /* margin-top:30px; */
    height: 6vh;
    
    width: 60vw;
    min-width: 650px;
    display: table-cell;
    vertical-align: bottom;
}

/* input-radio */
input[type=radio], input[type=checkbox]{
    opacity: 0%;
    /* margin: 50px; */
}

input[type=radio]+label, input[type=checkbox]+label{
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 20px;
    color: #254074;
    background-color: white;
    padding: 10px 15px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

input[type=radio]:checked+label, input[type=checkbox]:checked+label{
    font-family: 'S-CoreDream-7ExtraBold';
    color: #254074;
    background-color: white;
    padding: 10px 15px;
    font-size: 25px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

input[type=radio]+label:hover{
    animation-duration: 0.1s;
    animation-name: btnZoomIn;
    animation-fill-mode: forwards;
}

@keyframes btnZoomIn{
    from{
        font-size: 20px;
    }
    to{
        font-size: 25px;
    }
}


/* input-number */
input[type=number]{
    font-size: 20px;
    color: #254074;
    border-radius: 5px;
    border: 0px;
    width: 10vw;
}

/* select */
select{
    font-family: 'S-CoreDream-7ExtraBold';
    color: #254074;
    border: 0px solid white;
    font-size: 17px;
    height: 35px;
    border-radius: 4px;
    padding: 5px;
}

/* input-time */
input[type=time]{
    font-size: 17px;
    color: #254074;
    border-radius: 5px;
    border: 0px;
    margin: 5px;
}

/* input-time */
input[type=range]{
    -webkit-appearance:none;
    height: 2px;
    width: 25vw;
}
input[type='range']::-webkit-slider-thumb { 
    -webkit-appearance: none; 
    width: 15px;
    height:15px;
    border-radius: 100px;
    background-color: #254074;
}

