/* domitoryView, 룸메이트' detail 파일 연결
(View, detail) */

/* 긱사 view */
.view_container{
    width: 70vw;
    margin: 0 auto;
    margin-top: 60px;
}
.view_box1{
    display: grid;
    grid-template-columns: 56vw 1vw;
    border-bottom: 1px solid #C9C9C9;
}
.view_box1 h3{
    font-family: 'yg-jalnan';
    font-size: 30px;
    color: #254074;
    white-space  : nowrap;
    margin-top: 10px;
    margin-bottom: 20px;
}
.view_info{
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 15px;
    color: #254074;
    padding-left: 10px;
    border: 1px solid #254074;
    box-sizing: border-box;
    border-radius: 25px;
    width: 13vw;
}
.view_box1 small{
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    color: #959595;
    white-space  : nowrap;
    margin-top: 40px;

}
.view_box2{
    display: grid;
    grid-template-columns: 10vw 10vw;
    font-family: 'S-CoreDream-6Bold';
    font-size: 20px;
    color: #454545;
    margin-top: 30px;

}
.body{
    font-family: 'S-CoreDream-3Light';
    font-size: 17px;
    color: #454545;
    padding-top: 30px;
    padding-left: 30px;
    width: 40vw;
    height: 50vh;
}
.bottom{
    font-family: 'S-CoreDream-5Medium';
    font-size: 20px;
    color: #001F70;
    float: right;
}
.scrapBtn{
    display: inline;
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent;
    border: none;
    color: #FFFFFF;
}

/* 스크랩 모달창 */
.popup{
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 370px;
    height: 70px;
    background:white;
    border: 2px solid #254074;
    z-index: 1;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
 }
 .popup h4{
    text-align: center;
    font-size: 20px;
    font-family: 'yg-jalnan';
    line-height: 30px;
    margin-top: 20px;

 }
 .popup .popup-close{
    position: absolute;
    top: 5px;
    right: -10px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    cursor: pointer;
 }
