/* 모든 글쓰는 창은 다 연결(write, update) */
/* infoWrite창 */
.info_container{
    /* width: 70vw; */
    margin: 0 auto;
    margin-top: 60px;
}
.info_container h3{
    font-family: 'yg-jalnan';
    font-size: 30px;
    line-height: 42px;
    color: #254074;
    padding-bottom: 70px;
    height: 1vh;
}
.title{
    width: 80%;
    font-family: ''
}
.hashtag{
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: #254074;
    border: 1px solid #254074;
    box-sizing: border-box;
    border-radius: 10px;
    /* padding-left: 10px; */
    text-align: center;
}
.info_container-box1 input{
    padding-left: 13px;
    font-family: 'yg-jalnan';
    font-size: 17px;
    letter-spacing: 0.1em;
    width: 60%;
    margin-top: 15px;
}

.info_container input{
    border: none;
}
.info_container-box1{
    border: none;
    border-bottom: 2px solid #C9C9C9;
    padding-bottom: 10px;
}
.info_container button{
    font-family: 'yg-jalnan';
    font-size: 15px;
    color: #5D94FF;
    border: 2px solid #268AFF;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    margin-left: 60vw;
    margin-top: 30px;
    margin-bottom: 30px;
}
.info_container-box2{
    display: grid;
    grid-template-columns: 8vw 45vw 25vw;
    padding-top: 30px;
}
.info_container-box2 p{
    font-family: 'S-CoreDream-6Bold';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.1em;
    color: #454545;
}
.info_container .body{
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'S-CoreDream-3Light';
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #C9C9C9;
    width: 100%;
}
.info_info{
    font-family: 'S-CoreDream-7ExtraBold';
    font-size: 15px;
    color: #254074;
    border: 1px solid #254074;
    box-sizing: border-box;
    border-radius: 25px;
    width: 13vw;
    height: 5vh;
    padding-left: 18px;
    padding-top: 2px;
    margin-left: 10px;

}

@media screen and (max-width: 768px){
    .info_container{
        padding: 0 15px;
    }
}
