{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/view_page.css' %}">
{% endblock %}
{% block content %}
<div class="popup">
    <h4>스크랩 성공!</h4>
    <div class="popup-close">&times;</div> 
</div>

<div class="popup2">
    {% if messages %}
    <h4>
        {% for message in messages %}
        {{ message.message }}
        {% endfor %}
    </h4>
        {% endif %}
    <a href="{% url 'detail' write_detail.id %}"><div class="popup2-close">&times;</div></a>
</div>

<div class="col-12 col-md-12 offset-md-0 col-lg-10 offset-lg-1 col-xxl-8 offset-xxl-2 mb-5">
    <div class="view_box1 row mt-2">
        <h3 class="write-title mt-4">{{write_detail.title}}</h3>
        <div class="">
            <!-- 타이틀 -->
            <form action="" method="GET" class="float-end">
                {% if user.is_authenticated %}
                <button class="scrapBtn p-2" id="Favorites" type="submit" name="Favorites" value="scrap">
                    <i class="far fa-star" id="star"></i>
                    <i class='fas fa-star' id="fstar"></i></button>
                    {% endif %}
                </form>
                <small class="p-2 float-end" style="">{{ write_detail.pub_date }}</small>
            <!-- <i class="fas fa-star" id="fillStar"></i> -->
        </div>
    </div>

    <div class="view_box2 row my-4">
        <img class="col-1" src="{{ write_detail.user_id.user_image.url }}" alt="profile_image" style="width:30px; height:30px; padding: 0;" >
        <!-- 프로필이미지 -->
        {% if survey_ess.room_type == '1' %}
        <p class="col-10 col-md-7 profile-title" style="margin: 0;">{{survey_ess.get_room_type_display}} | {{write_detail.user_id.user_gender}} | {{age}}살 | {{survey_ess.grade}}학년</p>
        {% else %}
            {% if survey_ess.dormitory_number_man %}
            <p class="col-10 col-md-7 profile-title" style="margin: 0;">{{survey_ess.get_room_type_display}} | {{survey_ess.dormitory_number_man}}동 | {{write_detail.user_id.user_gender}} | {{age}}살 | {{survey_ess.grade}}학년</p>
            {% else %}
            <p class="col-10 col-md-7 profile-title" style="margin: 0;">{{survey_ess.get_room_type_display}} | {{survey_ess.dormitory_number_woman}}동 | {{write_detail.user_id.user_gender}} | {{age}}살 | {{survey_ess.grade}}학년</p>
            {% endif %}
        {% endif %}
        <!-- 자신의 정보 -->
    </div>

    <div class="container-fluid">
        <div class="row  checklist-box mb-2">
            <h3 class="p-3">필수 정보</h3>
            <div class="p-3 p-m-b">
                <!-- <div> -->
                    <strong>시기</strong> <p>{{survey_ess.get_dormitory_year_start_display}} {{survey_ess.get_dormitory_semester_start_display}} ~ {{survey_ess.get_dormitory_year_end_display}} {{survey_ess.get_dormitory_semester_end_display}}</p>
                    <strong>기상 시간</strong> 
                    <p>{{survey_ess.wakeup_time}}</p>
                    <strong>취침 시간</strong>
                    <p>{{survey_ess.bed_time}}</p>
                    <strong>흡연</strong> 
                    {% if survey_ess.smoke == True %}
                    <p>O</p>
                    {% else %}
                    <p>X</p>
                    {% endif %}
                    <strong>실내 이어폰</strong>
                    {% if survey_ess.earphones == True %}
                    <p>O</p>
                    {% else %}
                    <p>X</p>
                    {% endif %}
                    <strong>실내 통화</strong>
                    {% if survey_ess.call == True %}
                    <p>O</p>
                    {% else %}
                    <p>X</p>
                    {% endif %}
                    <strong>룸메와의 관계</strong>
                    <p>{{survey_ess.get_relationship_display}}</p>
                <!-- </div> -->
                <!-- <div> -->
                    <strong>청소 주기</strong>
                    {% if survey_ess.cleaning == 1 %}
                    <p>안함</p>
                    {% elif survey_ess.cleaning == 2%}
                    <p>한달 1회</p>
                    {% elif survey_ess.cleaning == 3%}
                    <p>격주 1회</p>
                    {% elif survey_ess.cleaning == 4%}
                    <p>주 1회</p>
                    {% elif survey_ess.cleaning == 5%}
                    <p>주 3~4회</p>
                    {% elif survey_ess.cleaning == 6%}
                    <p>매일</p>
                    {% endif %}
                    <strong>친구 초대</strong>
                    {% if survey_ess.invite_friends == True %}
                    <p>O</p>
                    {% else %}
                    <p>X</p>
                    {% endif %}
                    <strong>잠버릇</strong>
                    <div>
                        {% if survey_ess.sleeping_habits_snoring == True %}
                        <p>코콜이</p>
                        {% endif %}
                        {% if survey_ess.sleeping_habits_teeth == True %}
                        <p>이갈이</p>
                        {% endif %}
                        {% if survey_ess.sleeping_habits_nothing == True %}
                        <p>없음</p>
                        {% endif %}
                        {% if survey_ess.sleeping_habits_other %}
                        <p>{{survey_ess.sleeping_habits_other}}</p>
                        {% endif %}
                    </div>
                    <strong>실내 취식</strong>
                    <p>{{survey_ess.get_eat_display}}</p>
                    {% if survey_ess.room_type == 1 %}
                        <strong>반려 동물</strong>
                        {% if survey_ess.animal_dog == True %}
                        <p>강아지</p>
                        {% endif %}
                        {% if survey_ess.animal_cat == True %}
                        <p>고양이</p>
                        {% endif %}
                        {% if survey_ess.animal_other %}
                        <p>{{survey_ess.animal_other}}</p>
                        {% endif %}
                        {% if survey_ess.animal_no == True %}
                        <p>없음</p>
                        {% endif %}
                    {% endif %}
                <!-- </div> -->
            </div>
        </div>

        <div class="row checklist-box">
            <h3 class="p-3">선택 정보</h3>
            <div class="p-3 p-m-b">
                <!-- <div> -->
                    {% if survey_opt.share != '0' %}
                    <strong>생필품 공유</strong>
                    <p>{{survey_opt.get_share_display}}</p>
                    {% endif %}
                    {% if survey_opt.bug != '0' %}
                    <strong>벌레 퇴치</strong>
                    <p>{{survey_opt.get_bug_display}}</p>
                    {% endif %}
                    {% if survey_opt.keyboard != '0' %}
                    <strong>키보드 소리</strong>
                    <p>{{survey_opt.get_keyboard_display}}</p>
                    {% endif %}
                    {% if survey_opt.keyboard_noise == True %}
                    <p>저소음 키보드 사용</p>
                    {% endif %}
                    {% if survey_opt.game != '0' %}
                    <strong>게임 여부</strong>
                    <p>{{survey_opt.get_game_display}}</p>
                    {% endif %}
                <!-- </div> -->
                
                <!-- <div> -->
                    {% if survey_opt.ventilate != 0 %}
                        {% if survey_opt.ventilate == 1 %}
                        <strong>환기</strong>
                        <p>안함</p>
                        {% endif %}
                        {% if survey_opt.ventilate == 2 %}
                        <strong>환기</strong>
                        <p>1일 1회</p>
                        {% endif %}
                        {% if survey_opt.ventilate == 3 %}
                        <strong>환기</strong>
                        <p>1일 2회</p>
                        {% endif %}
                        {% if survey_opt.ventilate == 4 %}
                        <strong>환기</strong>
                        <p>1일 3회</p>
                        {% endif %}
                        {% if survey_opt.ventilate == 5 %}
                        <strong>환기</strong>
                        <p>1일 4회</p>
                        {% endif %}
                        {% if survey_opt.ventilate == 6 %}
                        <strong>환기</strong>
                        <p>수시</p>
                        {% endif %}
                    {% endif %}
                    {% if survey_opt.feel_cold == True %}
                    <strong>에어컨/보일러</strong>{{survey_opt.feel_hot}}
                    <p>추위를 많이탐</p>
                    {% endif %}
                    {% if survey_opt.feel_hot == True %}
                    <strong>에어컨/보일러</strong>
                    <p>더위를 많이탐</p>
                    {% endif %}
                    {% if survey_opt.toilet != 0 %}
                        <strong>화장실 청소</strong>
                        {% if survey_opt.toilet == 1 %}
                        <p>안함</p>
                        {% endif %}
                        {% if survey_opt.toilet == 2 %}
                        <p>한달 1회</p>
                        {% endif %}
                        {% if survey_opt.toilet == 3 %}
                        <p>격주 1회</p>
                        {% endif %}
                        {% if survey_opt.toilet == 4 %}
                        <p>주 1회</p>
                        {% endif %}
                        {% if survey_opt.toilet == 5 %}
                        <p>주 3~4회</p>
                        {% endif %}
                        {% if survey_opt.toilet == 6 %}
                        <p>매일</p>
                        {% endif %}
                    {% endif %}
                    {% if survey_opt.mbti %}
                    <strong>MBTI</strong>
                    <p>{{survey_opt.mbti}}</p>
                    {% endif %}
                <!-- </div> -->

            </div>
        </div>
    </div>

    <div class="detail-body">
        <p class="mb-4">{{write_detail.body}}</p>
        {% if write_detail.user_id.id == user.id %}
        <a class="btn btn-light float-end" href="{% url 'update' write_detail.id %}"><span>수정</span></a>
        <a class="btn btn-light float-end" href="{% url 'delete' write_detail.id %}"><span>삭제</span></a>
        <br><br>
        {% endif %}
    </div>
    <hr>
    <div>
        {% if user.is_authenticated %}
        <form action="{% url 'commnet_action' write_detail.id %}" method="POST">
            {% csrf_token %}
            <h5 style="font-family: 'S-CoreDream-6Bold';">댓글 작성하기</h5>
            <div class="form-floating">
                <textarea class="form-control mb-2" placeholder="Leave a comment here" id="floatingTextarea" cols="20" rows="2" name="comment"></textarea>
                <label for="floatingTextarea">Comments</label>
                <input class="btn btn-light col-2 offset-10" type="submit" value="등록">
              </div>
        </form>
        {% endif %}
    </div>
    {% for comment in comments %}
    <div class="row p-1 my-2" style="background-color: rgb(248, 248, 248); border-radius: 10px;">
        <div class="col-2" style="font-family: 'S-CoreDream-5Medium'; font-size: 16px;">{{ comment.writer }} </div>
        <div class="col-9" style="font-family: 'S-CoreDream-3Light';">{{comment.comment}}</div>
        {% if comment.writer == user.user_nickname %}
        <a class="btn btn-outline-danger col-1" href="{% url 'comment_del' write_detail.id comment.id %}" style="border:0; padding: 0;">삭제</a>
        {% endif %}
    </div>
    {% endfor %}
</div>


<script>
    const scrapBtn = document.querySelector('.scrapBtn');
    const popup = document.querySelector('.popup');
    const popup2 = document.querySelector('.popup2');
    const popupClose = document.querySelector('.popup-close');
    popup.style.display="none";
    popup2.style.display="none";
    document.querySelector("#fstar").style.display = 'none';


    document.querySelector(".popup-close").onclick = function() {
        document.querySelector(".popup").style.display="none";
    }
    document.querySelector(".popup2-close").onclick = function() {
        document.querySelector(".popup2").style.display="none";
    }

    if("{{fail}}"=="0"){
        popup.style.display = 'block'; 
        document.querySelector("#star").style.display = 'none';
        document.querySelector("#fstar").style.display = 'block';

    }
    if("{{fail}}"=="1"){
        popup2.style.display = 'block'; 
        document.querySelector("#star").style.display = 'none';
        document.querySelector("#fstar").style.display = 'block';
    }
    
    if("{{ okscrap }}" == "0"){
        document.querySelector("#star").style.display = 'none';
        document.querySelector("#fstar").style.display = 'block';
    }


</script>
{% endblock %}