{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/searchRoommate.css' %}">
{% endblock %}
{% block content %}

<div class="col-12 col-md-12 offset-md-0 col-lg-10 offset-lg-1 col-xxl-8 offset-xxl-2">
    <div>
        <h3 class="search_title row justify-content-center" >룸메 찾기</h3>
    </div>
    <div id="first_open_modal">
        <div class="first_open_content">
            <p>룸메찾기 게시판에 처음 오셨군요!</p>
            <p>문답을 통해 <strong>내정보</strong>를 먼저 입력해 주세요.</p>
            <button class="modal-btn" formaction="{% url 'survey' %}">문답하기 ></button>
            <button class="modal-btn modal-btn-X" onclick="hideFirstModal()">X</button>
        </div>
    </div>
    <div class='filter-btn-box row'>
        <div class='filter-btn-box-left col-6 d-none d-md-block' >
            <small>* 내가 원하는 룸메에 대해 적어주세요</small>
        </div>
        <div class='filter-btn-box-right col-12 col-md-5'>
            <button class='filter-top-btn'>룸메추천받기</button>
            <button class='filter-top-btn'>필터적용하기</button>
            <input id="down" class='filter-top-btn' type="button" hidden onclick="showfilter()"><label id="filter-dropdown"for="down"><i class="fal fa-caret-square-down"></i></label>
            <input id="up" class='filter-top-btn' type="button" hidden onclick="hidefilter()" ><label id="filter-dropup"for="up"><i class="fal fa-caret-square-up"></i></label>
        </div>
    </div>

    <div>
        <form action="" method="GET">
            {% csrf_token %}
            <!-- <p>필터적용하기</p> -->
            <div id="filter">
                <form action="">
                    <div class="question filter_state">
                        <h6 class="title">상태</h6>
                        <div class="answer">
                            <input type="radio" id="state" name="state" value="1"><label for="state">매칭중</label>
                            <input type="radio" id="state" name="state" value="2"><label for="state">매칭완료</label>
                        </div>
                    </div>
                    <div class="question filter_age">
                        <h6 class="title">나이</h6>
                        <div class="answer">
                            <input type="number" id="age_start" name="age_start">
                            <span>~</span>
                            <input type="number" id="age_end" name="age_end">
                        </div>
                    </div>
                        <div class="question filter_grade">
                            <h6 class="title dropdown">학년</h6>
                            <div class="answer">
                                <select name="grade" id="">
                                    <option value="">------</option>
                                    <option value="1 dropdown-item">1학년</option>
                                    <option value="2">2학년</option>
                                    <option value="3">3학년</option>
                                    <option value="4">4학년</option>
                                    <option value="5">5학년</option>
                                    <option value="6">6학년</option>
                                </select>
                            </div>
                        </div>
                        <div class="question filter_room_type">
                            <h6 class="title">기숙사 or 자취</h6>
                            <div class="answer">
                                <input type="radio" id="room_type_0" name="room_type" value="0"><label for="room_type_0">기숙사</label>
                                <input type="radio" id="room_type_1" name="room_type" value="1"><label for="room_type_1">자취</label>
                            </div>
                        </div>
                        <div class="question filter_dormitory_number">
                            <h6 class="title">기숙사 동</h6>
                            <div class="answer">
                                {% if user.user_gender == "남" %}
                                <select name="dormitory_number_man" id="">
                                    <option value="">------</option>
                                    <option value="10">10동</option>
                                    <option value="8">8동</option>
                                    <option value="6">6동</option>
                                    <option value="3">3동</option>
                                    <option value="2">2동</option>
                                    <option value="1">1동</option>
                                </select>
                                {% elif user.user_gender == "여" %}
                                <select name="dormitory_number_woman" id="">
                                    <option value="">------</option>
                                    <option value="11">11동</option>
                                    <option value="9">9동</option>
                                    <option value="7">7동</option>
                                    <option value="5">5동</option>
                                    <option value="4">4동</option>
                                </select>
                                {% else %}
                                <select name="dormitory_number" id="">
                                    <option value="">------</option>
                                    <option value="11">11동</option>
                                    <option value="10">10동</option>
                                    <option value="9">9동</option>
                                    <option value="8">8동</option>
                                    <option value="7">7동</option>
                                    <option value="6">6동</option>
                                    <option value="5">5동</option>
                                    <option value="4">4동</option>
                                    <option value="3">3동</option>
                                    <option value="2">2동</option>
                                    <option value="1">1동</option>
                                </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="question dormitory_date">
                            <h6 class="title">기간</h6>
                            <div class="answer">
                                <select name="dormitory_year_start">
                                    <option value="">------</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                </select>
                                <select name="dormitory_semester_start">
                                    <option value="">------</option>
                                    <option value="1" disabled>1학기</option>
                                    <option value="S" disabled>여름방학</option>
                                    <option value="2">2학기</option>
                                    <option value="W">겨울방학</option>
                                </select>
                                <span>부터</span>
                                <select name="dormitory_year_end">
                                    <option value="">------</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2024</option>
                                </select>
                                <select name="dormitory_semester_end">
                                    <option value="">------</option>
                                    <option value="1">1학기</option>
                                    <option value="S">여름방학</option>
                                    <option value="2">2학기</option>
                                    <option value="W">겨울방학</option>
                                </select>
                                <span>까지</span>
                            </div>
                        </div>
                        <div class="question filter_relationship">
                            <h6 class="title">룸메와의 관계</h6>
                            <div class="answer">
                                <input type="radio" id="friendly" name="relationship" value="0"><label for="friendly">친하게</label>
                                <input type="radio" id="business" name="relationship" value="1"><label for="business">인사만</label>
                            </div>
                        </div>
                        <div class="question filter_wakeup_time">
                            <h6 class="title">기상시간</h6>
                            <div class="answer">
                                <input type="time" id="start_wakeup_time" name="start_wakeup_time">
                                <span>~</span>
                                <input type="time" id="end_wakeup_time" name="end_wakeup_time">
                            </div>
                        </div>
                        <div class="question filter_bed_time">
                            <h6 class="title">취침시간</h6>
                            <div class="answer">
                                <input type="time" id="start_bed_time" name="start_bed_time">
                                <span>~</span>
                                <input type="time" id="end_bed_time" name="end_bed_time">
                            </div>
                        </div>
                        <div class="question filter_smoke">
                            <h6 class="title">흡연</h6>
                            <div class="answer">
                                <input type="radio" id="nonsmoker" name="smoke" value="0"><label for="nonsmoker">비흡연자</label>
                                <input type="radio" id="smoker" name="smoke" value="1"><label for="smoker">흡연자</label>
                            </div>
                        </div>
                        <div class="question filter_cleaning">
                            <h6 class="title">청소주기</h6>
                            <div class="answer">
                                <select name="cleaning">
                                    <option value="">------</option>
                                    <option value="1">안함</option>
                                    <option value="2">한달1회</option>
                                    <option value="3">격주1회</option>
                                    <option value="4">주1회</option>
                                    <option value="5">주3~4회</option>
                                    <option value="6">매일</option>
                                </select>
                            </div>
                        </div>
                        <div class="question filter_sleeping_habits">
                            <h6 class="title">잠버릇</h6>
                            <div class="answer">
                                <input type="checkbox" id="snoring" name="sleeping_habits_snoring" value="True"><label for="snoring">코골이</label>
                                <input type="checkbox" id="grinding_teeth" name="sleeping_habits_teeth" value="True"><label for="grinding_teeth">이갈이</label>
                                <input type="checkbox" id="nothing" name="sleeping_habits_nothing" value="True"><label for="nothing">없음</label>
                            </div>
                        </div>
                        <div class="question filter_invite_friends">
                            <h6 class="title">친구 초대</h6>
                            <div class="answer">
                                <input type="radio" id="invite_friends_yes" name="invite_friends" value="True"><label for="invite_friends_yes">예</label>
                                <input type="radio" id="invite_friends_no" name="invite_friends" value="False"><label for="invite_friends_no">아니요</label>
                            </div>
                        </div>
                        <div class="question filter_call">
                            <h6 class="title">실내 통화</h6>
                            <div class="answer">
                                <input type="radio" id="call_yes" name="call" value='0'><label for="call_yes">예</label>
                                <input type="radio" id="call_no" name="call" value='1'><label for="call_no">아니요</label>
                                <input type="radio" id="call_short" name="call" value='2'><label for="call_short">짧은통화만</label>
                            </div>
                        </div>
                        <div class="question filter_earphones">
                            <h6 class="title">이어폰 사용</h6>
                            <div class="answer">
                                <input type="radio" id="earphones_yes" name="earphones" value="True"><label for="earphones_yes">필수</label>
                                <input type="radio" id="earphones_no" name="earphones" value="False"><label for="earphones_no">사용한함</label>
                            </div>
                        </div>
                        <div class="question filter_eat">
                            <h6 class="title">실내취식</h6>
                            <div class="answer">
                                <input type="radio" id="eat_yes" name="eat" value='0'><label for="eat_yes">먹음</label>
                                <input type="radio" id="eat_snack" name="eat" value='1'><label for="eat_snack">간식만</label>
                                <input type="radio" id="eat_no" name="eat" value='2'><label for="eat_no">먹지 않음</label>
                            </div>
                        </div>
                        <div class="question filter_animal not-dormitory">
                            <h6 class="title">반려동물</h6>
                            <div class="answer">
                                <input type="checkbox" id="animal-dog" name="animal_dog" value='True'><label for="animal-dog">강아지</label>
                                <input type="checkbox" id="animal-cat" name="animal_cat" value='True'><label for="animal-cat">고양이</label>
                                <input type="checkbox" id="animal-no" name="animal_no" value='True' class=".nothing"><label for="animal-no">없음</label>
                            </div>
                        </div>
                        <div class="question filter_share">
                            <h6 class="title">생필품</h6>
                            <div class="answer">
                                <input type="radio" id="share_yes" name="share" value='1'><label for="share_yes">공유</label>
                                <input type="radio" id="share_no" name="share" value='2'><label for="share_snack">각자</label>
                            </div>
                        </div>
                        <div class="question filter_toilet">
                            <h6 class="title">화장실 청소</h6>
                            <div class="answer">
                                <select name="toilet">
                                    <option value="">------</option>
                                    <option value="1">안함</option>
                                    <option value="2">한달1회</option>
                                    <option value="3">격주1회</option>
                                    <option value="4">주1회</option>
                                    <option value="5">주3~4회</option>
                                    <option value="6">매일</option>
                                </select>
                            </div>
                        </div>
                        <div class="question filter_ventilate" >
                            <h6 class="title">환기</h6>
                            <div class="answer">
                                <select name="ventilate">
                                    <option value="">------</option>
                                    <option value="0">안함</option>
                                    <option value="1">1일1회</option>
                                    <option value="2">1일2회</option>
                                    <option value="3">1일3회</option>
                                    <option value="4">1일4회</option>
                                    <option value="5">수시</option>
                                </select>
                            </div>
                        </div>
                        <div class="question filter_feel">
                            <h6 class="title">온도</h6>
                            <div class="answer">
                                <input type="checkbox" id="feel_cold" name="feel_cold" value="False"><label for="feel_cold">추위를 많이 탐</label>
                                <input type="checkbox" id="feel_hot" name="feel_hot" value="False"><label for="feel_hot">더위를 많이 탐</label>
                            </div>
                        </div>
                        <div class="question filter_bug">
                            <h6 class="title">벌레 퇴치</h6>
                            <div class="answer">
                                <input type="radio" id="bug_yes" name="bug" value="1"><label for="bug_yes">잘잡음</label>
                                <input type="radio" id="bug_no" name="bug" value="2"><label for="bug_snack">못잡음</label>
                            </div>
                        </div>
                        <div class="question filter_keyboard">
                            <h6 class="title">키보드 소리</h6>
                            <div class="answer">
                                <input type="radio" id="keyboard_loud" name="keyboard" value="1"><label for="keyboard_loud">타이핑&게임 자주함</label>
                                <input type="radio" id="keyboard_no" name="keyboard" value="2"><label for="keyboard_no">거의 안함</label><br>
                                <input type="checkbox" id="keyboard_noise" name="keyboard_checkbox" value="True"><label for="keyboard_noise">저소음 키보드 사용중</label>
                            </div>
                        </div>
                        <div class="question filter_game">
                            <h6 class="title">게임여부</h6>
                            <div class="answer">
                                <input type="radio" id="game_yes" name="game" value="1"><label for="game_yes">자주</label>
                                <input type="radio" id="game_sometimes" name="game" value="2"><label for="game_sometimes">가끔</label>
                                <input type="radio" id="game_no" name="game" value="3"><label for="game_no">안 함</label>
                            </div>
                        </div>
                        <div class="question filter_mbti">
                            <h6 class="title">MBTI</h6>
                            <div class="answer">
                                <select name="mbti">
                                    <option value="">--------</option>
                                    <option value="ESTJ">ESTJ</option>
                                    <option value="ESTP">ESTP</option>
                                    <option value="ESFJ" >ESFJ</option>
                                    <option value="ESFP">ESFP</option>
                                    <option value="ENTJ">ENTJ</option>
                                    <option value="ENTP">ENTP</option>
                                    <option value="ENFJ" >ENFJ</option>
                                    <option value="ENFP">ENFP</option>
                                    <option value="ISTJ">ISTJ</option>
                                    <option value="ISTP">ISTP</option>
                                    <option value="ISFJ" >ISFJ</option>
                                    <option value="ISFP">ISFP</option>
                                    <option value="INTJ">INTJ</option>
                                    <option value="INTP">INTP</option>
                                    <option value="INFJ" >INFJ</option>
                                    <option value="INFP">INFP</option>
                                </select>
                            </div>
                        </div>
                    <!-- 버튼 안보임 -->
                    <button class="btn" id='filter-submit' type="submit">적용하기</button>
                </form>
            </div>
            
            
            <div class="search_bar">
                <h2 class="d-none d-md-block">검색</h2>
                <form action="" class="">
                    <div class="search-input-box">
                        <input class="search-input" type="text" name="search_keyword" value="{{ search_keyword }}" placeholder="검색어를 입력해주세요">
                        <button type="submit"><i class="fal fa-search"></i></button>
                    </div>
                </form>
            </div>
        </form>
    </div>
    {% if search_keyword %}
    <h5> &nbsp; '{{ search_keyword }}' 검색 결과입니다</h5>
    {% endif %}
    <div>
        <table class="table table-responsive table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">상태</th>
                    <th scope="col">기숙사/자취</th>
                    <th scope="col">성별</th>
                    <th scope="col">나이</th>
                    <th scope="col">제목</th>
                    <!-- <th>적합도</th> 구현X -->
                </tr>
            </thead>
            <tbody>
                {% if writes %}
                {% for write in writes %}
                <tr>
                    <td scope="row" class="record-state">{{ write.get_state_display}}</td>
                    <td>{{ write.user_id.survey_ess_id.get_room_type_display}}</td>
                    <td>{{ write.user_id.user_gender}}</td>
                    <!-- 나이모델X학년으로 적어둠 -->
                    <td>{{ write.user_id.survey_ess_id.grade}}학년</td>
                    <td><a href="{% url 'detail' write.id %}">{{ write.title }}</td>
                    <!-- <td> 적합도 구현X </td> -->
                </tr>
                {% endfor %}
                {% else %}
                    {% if search_keyword %}
                    <tr>
                        <td scope="row" colspan="5">일치하는 검색 결과가 없습니다</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td scope="row" colspan="5">작성된 게시글이 없습니다</td>
                    </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>
        <div>
            {% if user.is_authenticated %}
            <a class="btn btn-light float-end new-content" href="{% url 'create' %}">글쓰기</a>
            {% endif %}
        </div>
    </div>
    <div class="pagination-box">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="{% url 'searchRoommate'%}?page={{ page_obj.previous_page_number }}" style="color:#254074; border:0;">◀</a></li>
            {% for page in page_range %}
            <li class="page-item"><a class="page-link" href="{% url 'searchRoommate'%}?page={{page}}" style="color:#254074; border:0;">{{page}}</a></li>
            {% endfor %}
            <li class="page-item"><a class="page-link" href="{% url 'searchRoommate'%}?page={{ page_obj.next_page_number }}" style="color:#254074; border:0;">▶</a></li>
        </ul>
    </div>
</div>


<img class="open" id="jsBtn" src="{% static 'img/chat_icon.png' %}" alt="">
<div class="modal hidden" id="jsModal">
    <button class="modal__closeBtn" id="jsCloseBtn">X</button>
</div>
<script>
    const open = document.querySelector(".open");
    const close = document.querySelector(".modal__closeBtn");
    const modal = document.querySelector(".modal");
    filter.style.display='none'
    up.style.display='none'
    document.getElementById("filter-dropup").style.display = "none";
    

    function init(){
        open.addEventListener("click",function(){
            modal.classList.remove("hidden");
        });
        close.addEventListener("click",function(){
            modal.classList.add("hidden");
        });
    }

    init();
    function hidefilter(){
        document.getElementById("filter").style.display = "none";
        document.getElementById("filter-dropup").style.display = "none"
        document.getElementById("filter-dropdown").style.display = "inline-block"
    }
    function showfilter(){
        document.getElementById("filter").style.display = "grid"
        document.getElementById("filter-dropdown").style.display = "none"
        document.getElementById("filter-dropup").style.display = "inline-block"
    }


    let surveyCheck = "{{ survey_ess }}";
    if(surveyCheck == 'None'){
        document.getElementById("first_open_modal").style.display = "block";
    }
    else{
        document.getElementById("first_open_modal").style.display = "none";
    }

    function hideFirstModal(){
        document.getElementById("first_open_modal").style.display = "none";
    }
        
    
</script>
{% endblock %}