{% extends 'base.html' %}
{% load static %}

{% block content %}
<button>룸메추천받기</button>
<button>필터적용하기</button>
<!-- 필터 -->
<small>*내가 원하는 룸메에 대해 적어주세요</small>
<div>
    
</div>


<div>
    <div>
        <h3>룸메 찾기</h3>
    </div>
    <div>
        <form action="" method="GET">
            {% csrf_token %}
            <div>
                <div>
                    <input type="text" name="search_keyword" value="{{ search_keyword }}" placeholder="검색어를 입력해주세요">
                </div>
                <div>
                    <button type="submit">검색</button>
                </div>
            </div>
        </form>
    </div>
    {% if search_keyword %}
    <h5> &nbsp; '{{ search_keyword }}' 검색 결과입니다</h5>
    {% endif %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>상태</th>
                    <th>기숙사/자취</th>
                    <th>성별</th>
                    <th>나이</th>
                    <th>제목</th>
                    <!-- <th>적합도</th> 구현X -->
                </tr>
            </thead>
            <tbody>
                {% if writes %}
                {% for write in writes.all %}
                <tr>
                    <td>{{ write.state}}</td>
                    <td>{{ write.user_id.survey_ess_id.room_type}}</td>
                    <td>{{ write.user_id.user_gender}}</td>
                    <!-- 나이모델X학년으로 적어둠 -->
                    <td>{{ write.user_id.survey_ess_id.grade}}</td>
                    <td><a href="{% url 'detail' write.id %}">{{ write.title }}</td>
                    <!-- <td> 적합도 구현X </td> -->
                </tr>
                {% endfor %}
                {% else %}
                    {% if search_keyword %}
                    <tr>
                        <td>일치하는 검색 결과가 없습니다</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>작성된 게시글이 없습니다</td>
                    </tr>
                    {% endif %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<div>
    <a href="{% url 'create' %}">새로 만들기</a>
</div>

<div>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">◀</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">▶</a></li>
    </ul>
</div>
<img class="open" id="jsBtn" src="{% static 'img/chat_icon.png' %}" alt="">
<div class="modal hidden" id="jsModal">
    <button class="modal__closeBtn" id="jsCloseBtn">X</button>
</div>


<script>
    const open = document.querySelector(".open");
    const close = document.querySelector(".modal__closeBtn");
    const modal = document.querySelector(".modal");

    function init(){
        open.addEventListener("click",function(){
            modal.classList.remove("hidden");
        });
        close.addEventListener("click",function(){
            modal.classList.add("hidden");
        });
    }

    init();
</script>
{% endblock %}